<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Жатва</title>
    <style>
        html{
            width: 100%;
        }

        body{
            background: AntiqueWhite;
        }

        .Button:hover{
            background: DodgerBlue;
            transition: 0.3s ease;
        }

        .Container{
            width: 1000px;
            height: 100%;
            margin: auto;
            background: WhiteSmoke;
            text-align: center;
            font-size: 24px;
            border: 2px solid Black;
        }

        .Button{
            position: absolute;
            width: 100px;
            height: 50px;
            background: LightSkyBlue;
            margin-top: -179px;
            margin-left: 400px;
            border: 0px solid;
            font-size: 16px;
        }

        a{
            padding: 10px;
            color: OrangeRed;
            text-decoration: none;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:8000/Hello/{{person.name}}">
<div class="Container">
    <h3>Лора Кейли</h3>
    <h1>Жатва</h1>
    <button class="Button">На главную</button>
    <p>Глава 4</p>
    <p>
Виктор Флетчер стоял на пороге, шатаясь в расстёгнутой настежь рубашке. В руках его был стакан с виски.

Машины так и не было у двери. О том, что он дома, Аманда узнала по свету, загоревшемуся на кухне. Только сейчас она вспомнила, что сегодня и с ними случилась беда.

– Я думала, тебя нет, – сказала она.

– Что? – Он огляделся по сторонам, будто ища кого-то, но лишь зажмурил глаза.

– Машины нет, вот я и…

– А, – протянул Виктор Флетчер, – я где-то её оставил. Где же… – почесал он затылок, наклонившись так низко, будто рассматривая свои же ботинки. – Точно. Возле больницы.

– Что с Кэтрин?

– Она умерла, – закашлялся он, подавившись, а потом разрыдался.


Всё, что происходило последние дни, походило на какой-то кошмар. И Аманда ещё бы нескоро об этом узнала, не пропади её дочь. Скорее всего, она жила бы как раньше, со всеми своими проблемами, не замечая почти ничего.

Флетчер сказал, что жена его умерла от какого-то воспалительного процесса, ей было плохо несколько дней, но он не принимал это всерьёз. Сейчас же он бил себя по вискам, тихо плача и заикаясь. Аманда нашла успокоительные таблетки в сумочке его же жены и дала их ему. Он пытался узнать, что было причиной воспаления и что именно произошло, но ему лишь назвали сухие цифры возросших в крови лейкоцитов.


Ничего о семье Одли он, к сожалению, не знал, и о спятившем мальчишке тоже. Да и если бы знал, разве бы в таком состоянии вспомнил.

– Она ведь не первая, – отхлёбывал он холодную воду из стакана, который держала Аманда. – Пару месяцев назад жену моего напарника тоже увезли в больницу, у неё было кровотечение. Но её успели спасти… Знаешь, почему Кэтрин не спасли? – Он посмотрел на Аманду так, будто бы это она должна ему ответить. – Потому что у нее муж – дурак! Кэтрин лежала все эти дни в постели, а я думал, она хочет от меня уйти. Вот и ушла моя Кэтрин…

Он опять начал рыдать, но постепенно ослаб, глаза его помутнели, уходя в наступающий сон. Аманда довела его до дивана, укрыла шерстяным покрывалом, а сама оглядела дом.

Ничего особенного в помещении не было. Всё – от выбора краски на стенах до мебели из одного магазина, – всё было подобным тому, что встречалось во всех домах этого скромного городка.

Убедившись, что Виктор действительно спит, она поднялась на второй этаж. Сразу в спальню. Все тайны женщины обычно хранятся там.

Тихо приоткрыв дверь, будто боясь разбудить кого-то, Аманда зашла в тёмную комнату. Окна были зашторены, постель не прибрана, одеяло свисало до пола. «Жена лежала все эти дни», – вспомнила она слова Виктора. Тот сейчас беспокойно сопел, как ребёнок, заснувший после долгого плача.

Осмотрев прикроватные тумбы и не найдя в них ничего, кроме успокоительных, пачки прокладок и старых журналов, Аманда подняла матрас. Под ним было пусто, а вот под подушкой несчастной Кэтрин лежала тетрадь.

Тетрадь походила на личный дневник, и Аманда ещё с минуту собиралась с мыслями, чтобы открыть его, но, решив, что от этого может зависеть всё и, главное, жизнь её дочки, перевернула первую страницу. Находка оказалась обычной тетрадью с записями заданий от психолога.

Выпишите в отдельную графу всё, что произошло с вами за день, всё, за что вы благодарны.

«НИ ЗА ЧТО», – перекошенным почерком через всю графу.

Аманда перелистывала страницы – одну за другой, одну за другой, и на каждой было всё то же:

Мне всё надоело.

Я все ещё не хочу жить.

Мне не выписали антидепрессанты, сказали, признаков депрессии нет.

Я не хочу жить.

Каждое утро я жду ночи, каждую ночь я боюсь заснуть.

Мне кажется, у меня отняли что-то, но я не понимаю что.

Рецепт на антидепрессанты всё ещё не дают.

Выписали снотворное. Не помогает.

Она не хотела жить… Аманда вдруг на мгновение вспомнила, что и ей приходили подобные мысли, но быстро ушли. Порой ей казалось, что время несётся так быстро, а они в нём будто подвисли, будто некуда больше идти… Она и не знала, что это начало депрессии или какой-то болезни. В такие минуты она приходила в комнату Эбигейл и гладила её, спящую, по волосам. В её потерянной жизни дочь была единственным смыслом, и теперь отняли и её.

Захлопнув тетрадь, окинув ещё раз комнату взглядом, она сбежала по лестнице мимо спящего Виктора, усыпившего свою свежую скорбь под уже ровным дыханием.


Кэтрин ходила к психологу – или он был психиатр…

Аманда нашла визитку врача в той же тетради и теперь направлялась к нему. Этот врач был ещё одной скрепой в этой бессвязной цепи. Он выписывал ей таблетки, но от чего? Может, он знал, что с ней, может, он знал, что с ними со всеми? Может, от этих таблеток она и сошла с ума?

Здание «Центра психологической помощи» было единственным в городе. Единственным и муниципальным. В одно время, когда психологов становилось всё больше, а здоровых людей всё меньше, было принято решение запретить частные кабинеты. Может, где-то они и остались, но только не в их городке. Здесь вообще было мало частного.

Аманда постучалась в закрытые двери. Через пару секунд окошко, что казалось до того незаметным, открылось, и из него высунулась небольшая голова такого же небольшого охранника.

– Документы, – сказал жующий рот.

Аманда передала права.

Голова скрылась с правами, а Аманда так и осталась ждать. Через пару минут голова вновь появилась, уже не жуя.

– Вас ждут, – сказал охранник.

– Меня? – удивилась Аманда, но, увидев, что охранник не понял её удивления, сразу приняла уверенный вид. – Я знаю, – кивнула она.

Белая дверь запищала и отворилась. Аманда вошла.

В заведении пахло тишиной и покоем, мертвецким покоем, как в гробу. Стойка ресепшена была пуста, как и весь первый этаж.

– Доктор Фишер у себя? – назвала она имя, указанное на визитке, молясь, чтобы такой здесь работал.

– Вы закреплены за доктором Штейном, 27-й кабинет, – сухо сказал охранник, смотря в свой планшет.

«Закреплена?» – не поняла Аманда, она же ни разу здесь ещё не была, но переспрашивать не решилась.

– Я знаю, – улыбнулась она. – Но я выбрала другого врача. Я уже отправляла запрос. Может, вам не пришёл?

Охранник развернул ещё один сэндвич и долго смотрел на него перед тем, как откусить.

– Сами к нему записались? – переспросил он.

Аманда кивнула.

– Доктор Фишер, говорите?

– Да…

Он проверил запись ещё раз, но, не найдя ничего, просто махнул рукой.

– Скажите, что записались сами. Подождите, я посмотрю, какой кабинет.

– Двадцать третий, – сказала Аманда.

– Двадцать третий, – подтвердил он.

Аманда слышала, что за последний год людей, страдающих от депрессий, становилось всё больше. Было даже несколько случаев самоубийств, но и о них не особо распространялись. Так и жили, не распространяясь ни о чём. Аманда ходила по коридорам, ловя ненавязчивым взглядом камеры по углам – ей казалось, что за ней все следят, что камера поворачивалась следом, как только она проходила мимо. Ей нужно было узнать о мальчике Одли и о бедной Кэтрин, ей почему-то казалось, что одно поможет другому, вот только она не знала как.

Кабинет 23 был в самом конце коридора.

Аманда дошла до нужной двери и хотела уже постучать, когда оттуда позвали.

– Проходите, открыто.

Она отворила дверь и вошла в светлую комнату, полную красивых плакатов:

«Жизнь в твоих руках».

«Мы вольны выбирать свои чувства».

«За каждым облаком – свет».

– Миссис Линч, – поприветствовал её высокий мужчина, встав из-за стола, – хорошо, что вы сами пришли, – улыбнулся он ещё шире, – за вашим адресом закреплён другой доктор.

– Я хотела именно к вам, – села она на предложенный стул, – мне вас очень хвалили.

– Спасибо, – тот довольно поправил галстук, – я попробую переписать вас на себя.

– Я пришла…

– Я знаю, – кивал он, вбивая что-то в компьютер.

– Знаете? – удивилась она.

– Конечно. Гораздо легче предотвратить срыв, чем позже лечить его. Поэтому все сведения о происшествиях в городе сразу приходят к нам.

Значит, все уже знают, что её дочь пропала, поняла Аманда, – и полиция, и этот врач, и даже мелкоголовый охранник на входе, наверное, тоже в курсе. Все всё знают и не делают ничего…

Слёзы подступили к горлу – она старалась не разрыдаться.

– Да, – вздохнула она, – моя дочь. Ей всего восемь… Она ещё малышка.

– Аманда, – положил он свою руку на её. – Аманда, послушайте меня, я думаю, сейчас очень рано для переживаний. Прошёл только день. Уверен, ваша дочь скоро найдётся.

А этот доктор знал обо всём.

– Уверен, полиция делает всё возможное. Но, так как вы всё же пришли, я могу выписать вам лёгкое успокоительное.

Аманда посмотрела на полки – у него было много полок и много папок на них. Такие же бывают в больницах – это личные карты пациентов. Сколько же в этом городе несчастных людей…

– Скажите, что вы чувствуете? – добавил он больше сочувствия взгляду. – Вину?

Аманда кивнула.

– Не стоит, Аманда. Невозможно за всем уследить. Ваша дочь пропала сутки назад, я думаю, всё ещё образуется. Обычно к нам приходят через неделю или две после подобных происшествий. Но, если вам нужна помощь сейчас, мы, конечно, сделаем всё, что от нас зависит.

Они знали, что она придёт. Значит, они про всех всё знают. Она вспомнила, что настойчивая социальная реклама Центра психологической помощи началась два года назад.

«Если вы чувствуете себя одиноко, не оставайтесь одни» – гласила одна из них.

Теперь Аманда не была одна, она была окружена кучей посторонних людей, делающих озабоченный вид, полный напускного сочувствия.

Да, они пытались предотвратить страшное. Но если они оказывают психологическую помощь всем потерявшим близких, значит…

– Мэм, – смотрел на неё доктор, – вы меня слышите?

– Да. – Аманда пришла в себя. – Моя знакомая тоже пережила горе, она и сейчас его переживает, я не знаю, приходила ли она к вам…

– Это врачебная тайна, мэм.

– Её сын, Дэнни Одли…

– Врачебная тайна, – повторил доктор, качая головой.

– Я понимаю, просто подумала, может, между этими происшествиями есть какая-то связь.

Доктор помолчал немного, обвёл Аманду взглядом и, подвинув очки на нос, спросил:

– Скажите, какие отношения у вас были с дочерью?

– Доверительные, – сказала Аманда, зная, к чему он клонит.

– Эбигейл показывала какую-то эмоциональную нестабильность?

Он уже и имя её знал.

– Никакой нестабильности не было, – сказала Аманда.

– Может быть, она отдалялась от вас, закрывалась в комнате, уходила надолго из дома? Говорила, что останется ночевать у подруги?

– Нет, мы всегда были близки.

Аманда врала. Не доктору, до него ей не было дела. Себе. Три года назад, после того как всё случилось, её дочь будто стала другой. Нет, у неё не испортилось поведение, наоборот. Она стала более послушной, исполнительной. Не такой, как раньше. Она стала отдаляться от неё. Любое объятие было холодным, любой взгляд немым, будто она уходила в себя, но всё так же играла роль ее милой малышки.

– Наказывали ли вы дочь? – продолжал доктор.

– Нет, – сказала Аманда.

– Применяли ли к ней физическую силу?
    </p>
    <a href="http://127.0.0.1:8000/Jatva/page=1/{{person.name}}">1</a>
    <a href="http://127.0.0.1:8000/Jatva/page=2/{{person.name}}">2</a>
    <a style="color:Orange" href="http://127.0.0.1:8000/Jatva/page=3/{{person.name}}">3</a>
</div>
</form>
</body>
</html>