<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Жатва</title>
    <style>
        html{
            width: 100%;
        }

        body{
            background: AntiqueWhite;
        }

        .Button:hover{
            background: DodgerBlue;
            transition: 0.3s ease;
        }

        .Container{
            width: 1000px;
            height: 100%;
            margin: auto;
            background: WhiteSmoke;
            text-align: center;
            font-size: 24px;
            border: 2px solid Black;
        }

        .Button{
            position: absolute;
            width: 100px;
            height: 50px;
            background: LightSkyBlue;
            margin-top: -179px;
            margin-left: 400px;
            border: 0px solid;
            font-size: 16px;
        }

        a{
            padding: 10px;
            color: OrangeRed;
            text-decoration: none;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:8000/Hello/{{person.name}}">
<div class="Container">
    <h3>Лора Кейли</h3>
    <h1>Жатва</h1>
    <button class="Button">На главную</button>
    <p>Глава 1</p>
    <p>
Это случилось ранней осенью.



– Малышка, я дома.

Аманда Линч вернулась с работы домой и, бросив сумку на высокий комод, посмотрела в настенное зеркало. Морщины, что ещё месяц назад не казались такими глубокими, теперь виднелись так чётко, что их уже не скроешь ничем.



«6 сентября 2027 год», – она взглянула на настенный календарь, потом на свои часы и вздохнула. Время нещадно бежало. На столе – поделка для школы, Эби забыла взять её с собой. В последние дни она была необычно рассеянна.

– Малышка, ты дома? – окликнула она Эбигейл ещё раз.

Дом отозвался глухой тишиной.

Аманда прошла на кухню и включила телевизор.

– Итак, вы обратились к пластическому хирургу два месяца назад, – раздалось из динамика.

Рядом с телеведущим сидела плачущая женщина с онемевшим наполовину лицом.

– Да, я им сказала, что мне нужна подтяжка лица, но хирург заверил, что всё в порядке, и если и надо что-то делать, то только подтяжку лба.

– И вы решили подтянуть только лоб?

– Да…



Выключив звук, Аманда прислушалась к улице. Детские голоса принадлежали близняшкам Мэйси, их привёз из школы отец. Аманда видела, как они выходили из машины, как прошли к двери, как зашли в дом. Эбигейл училась с ними в одной школе, только в разных классах. Если они вернулись только сейчас, значит, и школьный автобус приедет следом. Как правило, он опаздывал на полчаса, оставляя каждого ученика у своего дома. И с чего она решила, что Эбигейл должна уже прийти? Эта путаница в школьном расписании кого угодно сведёт с ума.

Аманда достала сэндвич из сумки – за целый день так и не успела перекусить, и, развернув шуршащую бумагу, включила звук.



В студию уже пригласили хирурга.

– Значит, вы утверждаете, что операция прошла хорошо? – смотрел на него ведущий.

– Вы знаете, сколько у меня пациентов за день? А в месяц? Да ко мне запись на год вперёд. Я оперирую уже десять лет.

– Но что вы на это скажете? – Ведущий с показным сочувствием убрал волосы со лба женщины.

Публика ахнула.

– Я не могу отвечать за качество шрамов. За швы – да, за саму операцию – безусловно, но за качество рубцовой ткани – увольте. Это уже индивидуальная особенность организма.

– Но рубец уже с палец толщиной и, как ей сказали в другом медицинском центре, он всё ещё продолжает расти.

– Это келоидный рубец, – уточнил доктор, – он может расти до года.

Публика ахнула, женщина опять разрыдалась.

– Послушайте, это индивидуальная реакция организма, – попытался оправдаться он. – Иногда организм бывает не способен сразу зарубцевать ткань.

– И с чем это может быть связано? – спросил один из гостей.

– Плохой иммунитет, ослабленный организм, наследственность. Вот почему нежелательно делать операции сразу после болезни, например.

– Но пациентка была абсолютно здорова. Она же сдавала анализы у вас.

– Послушайте…

– Значит, вы снимаете с себя всю ответственность? – наседал на него ведущий.

– Я могу отвечать только за свою работу, а не за работу её организма.



Аманда выключила телевизор и кое-как проглотила последний кусок.

Стрелки на часах медленно догоняли друг друга, будто специально растягивая и без того неспешное время, не давая ему быстрый ход. Она посмотрела в окно – никакого автобуса не было.

Ловец снов звенел раздражающим звоном у неё над головой, а к двери так и не подходили.

Аманда стучала и стучала, пока не врезалась кулаком в покатую грудь Феликса.

– Аманда, – удивился мистер Мэйси, – я уже собрался звонить в полицию. Думал, какой-то псих ломится в наш дом! Что-то случилось?

– Ты Эби не видел?

– А разве она не приехала пару часов назад?

– Но ты привез девочек только…

И тут она вспомнила.

– Девочки остаются после школы на фортепиано, – ковырял он в зубах зубочисткой, – а сегодня к тому же короткий день. Ты забыла? Автобус отъехал от школы часа два назад.

– Два часа, – повторила Аманда, – два часа назад, – попятилась она от него.

– Что-то не так? – спросил он.

Всё было не так. Абсолютно всё.



Аманда рассекала по городу уже больше часа. Она заехала в школу, поговорила с охраной, они подняли видеозаписи, по которым было видно, что Эбигейл вышла из школы и села в автобус. Они подняли видеозаписи из самого автобуса, из которых было понятно, что девочку высадили у дома и она, помахав водителю, пошла к себе. Дальше никаких следов. Заходила она домой или нет, Аманда не знала. Ни у кого из жильцов не было камер, у них был такой безопасный район, что и мысли никому не пришло от кого-то защищаться. За три года, что они жили здесь, не случилось вообще ничего, даже банальной кражи. Полиция города знала своё дело.



– Поверьте, мы знаем своё дело, миссис Линч. Мы сейчас отправим запрос в школу, чтобы они предоставили нам видеозаписи из здания и из автобуса, на котором уехал ребёнок, – отрапортовала полицейская, даже не взглянув на Аманду. Женщина в форме смотрела в какие-то бумаги, в кипу бумаг на столе.

– Но я уже была в школе, – старалась как можно спокойнее говорить она.

– Пожалуйста, не кричите.

– Я и не кричу!

– Вы повышаете голос. Здесь государственное учреждение.

– Я не повышаю на вас голос и не кричу, – пыталась отдышаться Аманда, – я лишь пытаюсь сказать, что восьмилетний ребёнок не вернулся из школы домой!

– А я вам пытаюсь сказать, что мы сделаем все возможное, чтобы её найти.

– Да вы не сделали ещё ничего!

– Мэм, прошу вас, – встала высокая женщина, – вы мешаете нам работать.

– Мешаю? – смотрела сквозь слёзы Аманда. – У меня ребёнок пропал!

– Не прошло ещё и суток.

– А надо, чтобы прошло?

– По правилам – да. Вы же понимаете, что ребёнок мог остаться у кого-то из друзей ночевать.

– Она доехала до дома, понятно! Вышла из школы, села в этот чёртов автобус, вышла из автобуса и пропала!

– Вот видите, – развела руками женщина в форме, – значит, она недалеко от вас. Может, она уже дома?

Аманда отшатнулась от стола полицейской. А может, та права? Может, пока она колесила по всем закоулкам, от соседа к соседу, от школы к участку, может, за это время Эбигейл уже успела прийти?



Аманда выбежала из участка, села в машину, кое-как вставила ключ, завела, чертыхаясь, доехала до дома, вглядываясь в каждого прохожего ребёнка, добежала до двери, распахнула её…

Никого.

Вышла во двор, обошла дом кругом – она не знала, что ей искать, хоть что-нибудь, какую-нибудь зацепку, какие-нибудь следы. Она вглядывалась в каждый квадрат газона, в каждый куст рядом. Никаких следов борьбы, ничего. Рюкзака тоже не было, как и вещей. Ей вдруг подумалось, что если бы ребёнка кто-то тащил, то она бы сопротивлялась. Может быть, даже кричала. От одной только этой мысли у неё свело всё внутри. Аманда огляделась по сторонам. Нет, никто бы даже не вышел и не услышал её. Все были закрыты в своих домах, никто не спешил выходить.

Аманда вернулась в дом, прошлась по всем комнатам, вышла опять на крыльцо, обошла дом по второму кругу, пока не заметила, как что-то блеснуло на окне. Она подошла ближе. На подоконнике большого окна лежала подвеска дочери – серебряный кулон с лунным камнем на тонкой цепочке. Цепочка была не оборвана, и замок тоже цел, его просто сняли с неё и аккуратно положили на это самое место. Как знак. Для кого? Для неё? Но кто оставляет улики…

– Как дела? – услышала она за спиной и обернулась.

Это был Феликс Мэйси.

– Эбигейл не пришла?

Этот Феликс, всматривалась она в него, он всегда ей казался каким-то странным.

– А где ты был до того, как привёз детей? – пошла она на него.

– На работе, – удивился Мэйси, чуть отступив. – Так Эби ещё не вернулась?

– Это ты! – кинулась она на него, схватив за ворот рубашки. – Это ты похитил её!

– Ты с ума сошла, – разжимал он её цепкие пальцы. – Сначала ломишься к нам в дом, потом бросаешься на меня! Я был на работе, понятно! У меня доказательства есть! Заехал после офиса за двойняшками и сразу домой…
Аманда не слушала его больше, она смотрела на кулон, сжатый в своём кулаке, и на эту цепочку…

Когда слёзы уже не застилали глаза, она наконец разглядела, что этот кулон был какой-то другой.

– Давай вызовем полицию, – пришёл в себя мистер Мэйси, когда Аманда наконец отпустила его, – они-то уж точно разберутся.

Она стояла около дома и всматривалась в серебряную подвеску, а потом молча развернулась и так же тихо ушла.

– Ты звони! – крикнул ей Мэйси. – Если нужна будет помощь…

Аманда закрыла за собой дверь и зажгла свет в прихожей. Кулон был действительно тот, вот только серебро потемнело, и проба на застежке уже почти стёрлась. Да, это был тот кулон, только гораздо старей…
    </p>
    <a style="color:Orange;" href="http://127.0.0.1:8000/Jatva/page=1/{{person.name}}">1</a>
    <a href="http://127.0.0.1:8000/Jatva/page=2/{{person.name}}">2</a>
    <a href="http://127.0.0.1:8000/Jatva/page=3/{{person.name}}">3</a>
</div>
</form>
</body>
</html>