<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Жатва</title>
    <style>
        html{
            width: 100%;
        }

        body{
            background: AntiqueWhite;
        }

        .Button:hover{
            background: DodgerBlue;
            transition: 0.3s ease;
        }

        .Container{
            width: 1000px;
            height: 100%;
            margin: auto;
            background: WhiteSmoke;
            text-align: center;
            font-size: 24px;
            border: 2px solid Black;
        }

        .Button{
            position: absolute;
            width: 100px;
            height: 50px;
            background: LightSkyBlue;
            margin-top: -179px;
            margin-left: 400px;
            border: 0px solid;
            font-size: 16px;
        }

        a{
            padding: 10px;
            color: OrangeRed;
            text-decoration: none;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:8000/Hello/{{person.name}}">
<div class="Container">
    <h3>Лора Кейли</h3>
    <h1>Жатва</h1>
    <button class="Button">На главную</button>
    <p>Глава 2</p>
    <p>
Жена Виктора Флетчера не вставала с кровати уже вторую неделю. Она лежала в своей постели и только смотрела в потолок. Сначала он списывал всё на простуду, потом на те самые дни, но неделя сменяла неделю, а ничего не менялось.

Он жевал сухие хлопья, которые не размокали даже от молока, и щелкал замасленным пультом.

– Дорогая, я приготовил завтрак! – крикнул он в пустоту. Пустота кивнула безмолвием, и он кивнул ей в ответ.

«Может, у неё кто-то есть», – ненароком подумал Виктор, и от одной только этой мысли заболело в зубах. Жена его брата так же ушла, сначала молчала, потом запиралась в комнате, ей нужно было больше пространства, она говорила, что искала себя. Вскоре она нашла какого-то парня и подала на развод. «И когда люди становятся чужими?» – думал Виктор, мешая жёлтые хлопья, смотря в зеркальную дверку микроволновой печи. Все нормальные зеркала Кэтрин убрала ещё год назад. Ей казалось, она резко стареет, ему казалось, она сочиняет, но сейчас, посмотрев на себя, и он заметил пару новых морщин – эти углубления в щеках уже никуда не уйдут. Ему думалось, его жена сочиняет себе болезни. Сначала она говорила, что у неё болят почки, потом поджелудочная железа. Они обратились к доктору, к двум докторам… С почками оказалось всё в порядке, как и с поджелудочной железой, но Кэтрин не унималась.

– Это симулятивное расстройство, – сказал как-то доктор, – возможно, вашей жене не хватает внимания. Вам нужно больше времени проводить вдвоём.

«Как будто ему хватало внимания», – подумал тогда мистер Флетчер, он же не придумывает себе ничего. Хотя, по правде сказать, у него всё чаще болела голова, да у кого она не болела.

– Дорогая, завтрак остынет! – окликнул он жену опять.

«Женщины, – думал он, – чего только не насочиняют».

Виктор переключал канал за каналом, все передачи были об одном: о неожиданном синдроме, приведшем к замедлению регенерации клеток. Об этом твердили так упорно и на работе, и в новостях, что и сам Виктор уже почти поверил, хотя, может, они и правда старели быстрее, чем до того.


– Итак, мы начинаем нашу программу с нашумевшей темы, тревожащей всех – эпидемия преждевременного старения.


Виктор остановился на одном из телешоу.

Ведущий в синем костюме, с зализанной назад причёской и гримом, что виднелся через экран, стоял в центре студии.


– За последние пару месяцев к нам обратилось немало женщин с одной и той же проблемой. Им кажется, что их организм работает хуже, чем раньше, обмен веществ замедляется, а на лице появляются всё новые и новые морщины.

Виктор сделал звук чуть потише.

Никакой эпидемией он это не считал – по его мнению, старели все по возрасту, а то, что чувствовали себя хуже, так, собственно, когда оно было хорошо? После того что им пришлось пережить, после той катастрофы, неудивительно, что стресс сказался и на здоровье людей.

Эти журналисты, как обычно, раздули проблему из ничего.


– У нас в гостях пластический хирург известной клиники – Адам Хилл, – продолжил ведущий, направляясь к новому гостю.

Человек в тёмной рубашке поправил очки и кивнул.

Ведущий подошёл к нему ближе и сел рядом, ткнув микрофоном в лицо.

– Мистер Хилл, скажите, увеличилось ли за последнее время количество обращений к вам?

– Я могу сказать, что примерно в два раза.

Публика ахнула.

– И это не только женщины, но и мужчины, – уточнил доктор.

– Значит, люди не преувеличивают, когда говорят об эпидемии старения?

– Никто не молодеет, – улыбнулся доктор своей белоснежной улыбкой, – но то, что процедуры подтяжки лица стали проводиться чаще, чем, скажем, ещё год назад, это факт.

– С чем вы это связываете?

– Недосып, плохое питание, экология…

– Эпидемия?

– Эпидемия – это то, что заразно, – сказал доктор, поправив галстук.

– Но ведь стареют все.

– Всё же это происходит планомерно, быстрее, чем обычно, но планомерно. Мы не фиксируем случаев, когда вчерашний подросток вдруг стал стариком, такого нет. Но вот то, что люди тридцати лет выглядят на сорок, а сорокалетние на пятьдесят, такое встречается чаще.

– С нами ещё один гость, доктор медицинских наук, профессор…


На втором этаже послышался звук знакомых шагов.

Виктор прислушался.

– Кейт, ты уже встала? Мне скоро уезжать…

Он посмотрел на второго гостя по ту сторону экрана – профессора, лет шестидесяти или шестидесяти пяти. Мужчина с седой бородой и в толстых очках, с нестрижеными волосами в ушах и носу, вызывал у него куда больше доверия, чем этот пластический хирург с застывшей мимикой и пухлыми губами.


– Я могу точно сказать, что биологический возраст многих пациентов соответствует их фактическому, – начал профессор. – Никаких нарушений работы организма или некорректной работы каких-либо органов не было выявлено.

– Вы считаете эти темы искусственно созданными? – спросил ведущий.

– Женщины всегда волновались о возрасте, но сейчас изменилось время, – профессор недвусмысленно посмотрел на одутловатое лицо пластического хирурга, – и теперь о своей внешности беспокоятся ещё и мужчины.

– Я прошу прощения, сколько вам лет? – заёрзал на месте хирург.

– Мне? – не понял профессор.

– Да, вам.

– Пожалуйста, давайте не переходить на личности, – встрял ведущий.

– Мне шестьдесят пять.

– А выглядите вы на все восемьдесят.

– Я не для того сюда пришел, чтобы меня оскорбляли…

– Меня, знаете ли, тоже здесь никто не держит, если нужно, я могу и уйти, – встал с места хирург с одутловатым лицом.

– Итак, господа, мы уходим на рекламу.


Наверху что-то упало.

Звук был похож на упавший стакан. Это из ванной Кейт.

– Все хорошо, дорогая?

Виктор выключил телевизор и пошёл к лестнице, ведущей наверх. Не успел он дойти до последней ступени, как увидел за приоткрытой дверью ванной комнаты жену, лежащую на полу.

– Кэтрин!

Он кинулся к ней. Вся спина и сорочка были в крови – она упала прямо на стекла от разбившегося стакана.

– Кэтрин! – Виктор похлопал её по щекам, пощупал пульс. – Дорогая!

«Скорая» ехала долго. Так же долго, как и шло это чёртово время на бездушных настенных часах. Ему казалось, он не чувствовал пульса, потом казалось, будто он появился, но тут же снова пропал.

Когда врачи наконец добрались, им оставалось лишь констатировать смерть.

Что стало причиной, ему не сказали.


– Это не так просто, мистер Флетчер, – смотрел на него доктор, – нам требуется время. Ваша жена не жаловалась на самочувствие в последние дни, может, недели?

«Что он должен ему сказать? – думал Виктор. – Жаловалась. Вот только он не обратился никуда. Да и какая теперь уже разница…»

– Нет, – соврал он и раскраснелся от стыда.

– Хорошо, – кивнул врач, – мы сообщим вам о результатах экспертизы завтра.

Но завтра ему сообщили, что Кэтрин умерла от воспалительного процесса. Чем он был вызван, ему не сказали. Какой-то бактерией, как и многие другие болезни – вот и всё, что ему удалось разузнать.

На следующий день к нему пришли люди в костюмах. Их было двое, из местного департамента. Они выразили сочувствие и попросили осмотреть дом. Якобы есть подозрение, что Кэтрин отравили.

Люди в костюмах пробыли в её комнате более часа, они что-то искали и переворошили там всё.

– Что-то нашли? – спросил их Виктор Флетчер, когда те выходили из дома.

– Всё в порядке, – сухо сказали они. – Ах да, тело вашей жены мы вам пока не отдадим.

– Эпидемия? – лишь спросил он.

– Всего доброго, мистер Флетчер.

<p>Глава 3</p>
Слух о случившемся уже разнёсся по городу. У дома Аманды стоял полицейский седан и привлекал к себе любопытные взгляды.

– Значит, вы считаете, что вашу дочь похитили? – переспросил её человек в форме.

– Я лишь знаю, что моя дочь не могла сбежать сама, – задыхалась Аманда.

Ей казалось, она это уже говорила, ей казалось, они заставляют её снова и снова повторять элементарные вещи, лишь бы не начинать ничего. Они всё записывали в свой блокнот, всё кивали и переглядывались, всё так же стоя на месте уже почти час. Ей уже стало казаться, что они и не полицейские вовсе, а сообщники похитителя. Невозможно же так долго не делать совсем ничего.

– Может, вы сделаете хоть что-то? – посмотрела на них Аманда.

– Конечно, – кивнул полицейский, – надо обыскать дом.

– Чей? – не поняла она.

– Ваш дом. И подвал, пожалуйста, – он протянул руку. – У вас есть ключи от подвала?

Полицейский всё так же не двигался с места, даже с ключами в руках. Он записывал данные Аманды, потом ребёнка и даже её погибшего мужа.

– А это зачем? – спросила она.

– Для дела. Всё нужно для дела, – даже не посмотрел он на неё.

– Ну, – не выдержала наконец Аманда, – вы обыщете дом?

– Я не по этой части…

– А кто, кто – по этой?!

– К вам придут. – Он улыбнулся ей штатно, такой же сухой улыбкой, какой улыбался всем, развернулся и вышел из дома, как будто ничего не случилось, как будто никто не похищал детей.

– Кстати, – обернулся сержант, уходя, – вам психолог не нужен?

– Что? – не поняла Аманда.

– Психолог…

– Не нужен мне психолог! – закипала Аманда Линч. – Мне нужно найти мою дочь! – понизила она голос.

– Это хорошо, что не нужен, сейчас с ними беда.

– Почему?

– Сейчас многим нужен психолог. – Он помялся на месте, ещё раз взглянул на дом и вздохнул. – В общем, если вас не будет дома, дверь и подвал ребята сами откроют.

– А когда вы начнёте искать?

– Работа идёт, – кивнул он ей и сел в свой полицейский «Форд».


Полицейские пришли лишь к обеду следующего дня. Она оборвала все телефоны, и только когда позвонила директору школы, а тот созвонился с ними, полиция добралась до неё.

Аманда сжимала кулон в руке, пока люди в форме осматривали дом. Цепочка не сорвана, застёжка была исправна. Почему так потемнело серебро…

Мысли путались, обгоняя друг друга, запинались и вновь поднимались, выстраиваясь в хоровод, гудящий и шумный, сводящий её с ума. Это всё какой-то кошмар, временное безумие, чья-то ужасная шутка, но не реальность. Нет! Реальность такой быть не могла.

– Никаких следов похищения нет, – сказал один полицейский, спускаясь к ней со второго этажа.

– Я нашла цепочку, – вдруг сказала она.

– Что, простите? – Он подошёл к ней.

Аманда не понимала, почему не сказала об этом раньше, будто эта память о её маленькой Эби должна была принадлежать только ей. Она протянула цепочку полицейскому.

– Я нашла её на окне, она лежала на подоконнике с улицы.

– Ваша дочь могла снять её сама? – посмотрел он недоверчиво на Аманду.

– Она никогда её не снимала. Только вот…

– Только вот что?

Неужели он думает, что она сама сняла эту цепочку с Эби, неужели он думает…

– Мэм, вы хотели что-то сказать.

– Серебро, – сказала она, – серебро темнее, чем было, и, кажется, проба чуть стерлась.

Он перевернул кулон в руке.

– Дети неаккуратны с вещами, серебро темнеет быстро, а что проба потёрлась, так это пока ни о чём не говорит. Когда вы в последний раз разглядывали цепочку ребёнка? Может, состояние и было таким?

– Может, и было, – согласилась Аманда. Она и правда за ним не следила.

Полицейский осмотрел предмет ещё раз, порылся у себя в куртке, достал небольшой пакет и опустил кулон с цепочкой в него.

– Скажите, какие у вас были отношения с дочерью? – посмотрел он на неё, положив пакет с вещдоком в карман.

– Хорошие, – не поняла вопроса Аманда.

– Девочка не могла сбежать? Или что-то в этом роде?

– У нас хорошие отношения, – повторила она.

– А где отец ребёнка?

– Он погиб.

– Давно?

– Три года назад, он был в экспедиции.

– А, – с пониманием кивнул полицейский. – Мне очень жаль…

Вдруг его рация зашипела.

Непонятный голос сквозь шуршащий шум назвал какой-то адрес.

– Нашли? – замерла в ожидании Аманда.

Офицер показал жестом, что это не про неё, и поспешил уйти.

Аманда припала к окну: он и ещё один полицейский, что всё это время осматривал двор, подходили к дому Виктора Флетчера.

Какое-то время всё было тихо, но через пять минут тишина небольшого города прервалась звуком сирен. «Скорая» встала у дома Аманды, припарковавшись возле полицейской машины.

– Миссис Флетчер? – спросил водитель.

– Флетчеры там, – указала она.

Водитель ещё раз взглянул на полицейский седан и, вывернув руль влево, вернулся на проезжую часть.

Из дома Флетчеров на носилках вывезли Кэтрин. По виду она была без сознания. С мистером Флетчером говорил полицейский, потом он перекинулся словом с фельдшером и зашёл в «Скорую» сам.

«Они не будут искать мою дочь, – поняла она, – сегодня уж точно». Принтер выплёвывал цветные листовки одну за другой, одну за другой. Когда их количество перевалило за сотню, он загудел и заглох.


Разыскивается: Эбигейл Линч. 8 лет.

Волосы русые, глаза голубые. Ушла из школы и до сих пор не вернулась. Всем владеющим какой-либо информацией просьба сообщить по телефону…


Аманда останавливалась возле каждой автобусной остановки, возле каждого столба и доски объявлений, она не слышала больше сирен, она не видела колесивших по городу полицейских – все будто и не собирались искать её дочь.

– Здесь нельзя клеить объявления, мэм, – подошёл к ней патрульный на одной из остановок.

– У меня пропала дочь, – разглаживала она объявление.

– Объявления о пропаже человека могут клеить только волонтёрские организации или полиция.

– Но полиция не делает ничего!

Полицейский молчал.

Аманда села в машину и, уже отъезжая, увидела, как он сорвал листовку.

– Чёртов ублюдок, – ударила она по рулю, – вот же гад!


Теперь она останавливалась в таких местах, где не было полицейских, где улицы были тихими, а автобусы редки, где каждый был сам по себе, но знал о соседях всё.


Аманда разглаживала фото дочери, что неровно приклеилось на одном из столбов. Это была последняя листовка, и ей вдруг показалось, что её на ней могли не узнать. Дети так быстро растут и так не любят фотографироваться. Когда она делала это фото, полгода или год назад? Сейчас ей казалось, что Эби была чуть старше, и волосы чуть потемней, и зачёсаны были не так – глаза её девочки смотрели в её глаза, будто моля о помощи безмолвным оглушающим криком.

Что с ней сейчас?

– Может быть, она тоже сошла с ума? – произнёс кто-то рядом прокуренным голосом, откашливая сигаретный дым.

Позади неё стояла старая женщина в красных туфлях, цветастом наряде и неровно надетом плаще, с лохматым сумбуром на голове и лицом, испорченным старостью.

– Простите? – не поняла Аманда.

– Я говорю, – подходила она, шатаясь, тыча сигаретой в лицо её Эбигейл, – может, малышка тоже сошла с ума и поэтому потерялась?

– Сошла с ума? Я не понимаю.

– Никто не понимает, – причмокнула старая женщина и опять чуть не упала.

– Вы пьяны?

– Это вы пьяны, – рассмеялась она, – это вы не ви-ди-те ни-че-го… Ничего! – Она обводила тлеющей сигаретой округу, будто очерчивая магический круг. – Вы не видите, вы все слепы!

– Не видим что?

– Они травят нас! Травят нас, чтобы мы все здесь сдохли! И никто ничего не замечает! Сейчас и дети сходят с ума. И ваша сошла, – повторила она снова.

– Вы её видели? – Аманда подошла к женщине ближе, но отринула от сильного перегара.

– Зета Роуз! – вдруг сказала старуха. – Зе-та Ро-уз, – повторила она по слогам.

– Что?

– Недавно совсем, и еще Дэнни Одли, месяц тому назад… Но это только малая часть, их больше, – перешла она на пугающий шёпот, – гораздо больше. Но все молчат.

Аманда хотела спросить ещё что-то, но женщина достала из морщинистого декольте железную фляжку и, запрокинув её, влила в себя всё, что там было.

– У вас шляпы нет? – вдруг спросила старуха.

– Шляпы? – Аманда всматривалась в морщинистую физиономию незнакомки, пытаясь поймать хоть какую-нибудь серьёзность в паутине этих морщин.

– Мне нужна шляпа, я свою потеряла, – чесала она в волосах.

– Вы говорили о детях, о том, что они сходят с ума.

– Я? – отшатнулась старуха. – Что ты! – осмотрелась она по сторонам. – Я ни о чём таком не говорила. Мне нужна шляпа, шляпа, вот такая, с такими полями, вот такая… – удалялась она, бормоча.


Аманда повторяла имена этих детей, пока добиралась домой, пока взбегала по лестнице, пока включала компьютер, пока вбивала их в поисковик.

Дэнни Одли…

Ничего.

Есть только пара тем на форуме, начинающихся с вопроса: «А знает ли кто-нибудь, что случилось с мальчиком Дэнни Одли?» Но стоило кликнуть на них, как тебя перебрасывало на удалённую запись:

«Запись удалена».

«Ответ удалён».

«Запись удалена».

И так повсюду.

То же самое было и с Зетой Роуз. Только один комментарий остался цел: «Бедная Зета», – подписал кто-то фотографию девочки.
    </p>
    <a href="http://127.0.0.1:8000/Jatva/page=1/{{person.name}}">1</a>
    <a style="color:Orange"  href="http://127.0.0.1:8000/Jatva/page=2/{{person.name}}">2</a>
    <a href="http://127.0.0.1:8000/Jatva/page=3/{{person.name}}">3</a>
</div>
</form>
</body>
</html>