<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лес Гримм</title>
    <style>
        html{
            width: 100%;
        }

        body{
            background: AntiqueWhite;
        }

        .Button:hover{
            background: DodgerBlue;
            transition: 0.3s ease;
        }

        .Container{
            width: 1000px;
            height: 100%;
            margin: auto;
            background: WhiteSmoke;
            text-align: center;
            font-size: 24px;
            border: 2px solid Black;
        }

        .Button{
            position: absolute;
            width: 100px;
            height: 50px;
            background: LightSkyBlue;
            margin-top: -179px;
            margin-left: 400px;
            border: 0px solid;
            font-size: 16px;
        }

        a{
            padding: 10px;
            color: OrangeRed;
            text-decoration: none;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:8000/Hello/{{person.name}}">
<div class="Container">
    <h3>Кэтрин Парди</h3>
    <h1>Лес Гримм</h1>
    <button class="Button">На главную</button>
    <p>Глава 1</p>
    <p>Семь лет спустя...</p>
    <p>
Меня преследует мама. Я слышу ее голос в зазывании ветра, который прогоняет воронов с овечьего пастбища, ее сдавленные крики в скрипе колеса над нашим высохшим колодцем. Ее смех отражается от неровных вспышек молний. Ее ярость выливается в тихих раскатах грома.

Грозы – всего лишь насмешка. Их ливни почти не касаются земли, а когда это происходит, все, что я слышу в его грохоте, – это шаги матери, удаляющиеся от меня и зовущие следовать за собой.

Меня преследует мама… если, конечно, призраки были не тайной мертвых, а скорее отголоском жизни живых. А она должна жить. Я пожелаю это. Она не умерла, а исчезла – пропала в Лесу Гримм. Прошло три года с тех пор, как она отправилась туда вскоре после того, как магия леса обозлилась на нашу деревню.

Полоски ткани и ленты всех цветов радуги свисают с большого орешника на опушке леса. Дерево Потерянных. Мама была не единственной, кто исчез. Еще шестьдесят шесть человек. Потерянные, как мы их называем, которых мы больше никогда не видели после того, как они ушли в лес. У каждого были свои причины уйти, с тех пор как на нас обрушилось проклятие, хотя большинство из этих мотивов остаются загадкой. Единственная известная связь между ними – это состояние отчаяния, в котором они находились перед тем, как покинуть Лощину Гримм.

Мама, должно быть, знала, что не вернется домой. Еще много лет назад карта Полночный Лес предостерегала ее от запретного выбора. Но она отправилась на поиски отца, хотя знала, что он не был Потерянным. Она вошла в Лес Гримм вскоре после его исчезновения и стала первой Потерянной.

Листья орешника трепещут на летнем ветерке, развевая кончики моих волос. Волосы мамы такого же теплого темно-каштанового оттенка, но ее лента выкрашена в розово-красный цвет. Бабушка выбрала этот цвет, потому что он нравится маме, и я сама спряла пряжу из лучшей шерсти овец нашего стада.

Я поднимаю руку, чтобы прикоснуться к ней, щурясь от утреннего солнца, пробивающегося сквозь плотную ткань. Прошло три года с тех пор, как я впервые привязала ее к этому дереву, и за это время ветра истрепали ее.

Что, если мама тоже такая же потрепанная и худая, как кости?

«Я приду за тобой, обещаю. Скоро».

И под «скоро» я имею в виду сегодня.

– Десять минут до лотереи! – объявляет деревенский часовщик.

Мое сердце подпрыгивает, как у кукушки, которая прокуковала назначенный час. Я подтягиваю юбку к икрам и пробираюсь сквозь толпу, собравшуюся на лугу. Ежемесячный День Преданности всегда собирает таких же деревенских жителей, как я, которые не теряют надежды, что наши Потерянные все еще живы. А еще всегда появляются те, кому нравится зрелище лотереи и таящаяся за ней опасность. В центре внимания Дня Преданности всегда была лотерея и выбор победителя.

Я подошла к лотерейному столу, где рядом стоят два кубка, один янтарный, а другой цвета мха. В каждом лежат сложенные листы бумаги с нацарапанными на них именами жителей деревни.

Сегодня меня выберут. Мне наконец-то разрешат пойти в лес на поиски Потерянных. Снова. Снова, потому что мое имя лежит в зеленом кубке, оставленное вместе с другими, которые уже были выбраны в этом году и которые были взяты из янтарного кубка в предыдущие Дни Преданности. Моя очередь подошла несколько месяцев назад, когда я, наконец, стала достаточно взрослой, чтобы принять участие в лотерее после достижения шестнадцатилетнего возраста.

Выиграв в лотерею, я смогу воспользоваться шансом попасть в лес. Мне нужно это сделать, чтобы спасти маму от предсказанной ей ранней смерти. Это все еще остается моей единственной надеждой. Несмотря на то что семь лет назад я решила загадать желание в Книге Судеб, у меня отняли этот выбор.

За два года до того, как мне исполнилось шестнадцать, Лес Гримм проклял деревню, и книга исчезла. И вскоре мы выяснили причину: кто-то совершил убийство и, чтобы замести следы, загадал свое единственное желание у Sortes Fortunae.

Убийцу так и не нашли. Все, в чем мы можем быть уверены, – это в том, что в тот день, когда было обнаружено тело жертвы, Книга Судеб исчезла.

Так же таинственно, как она появилась в Лощине Гримм, книга исчезла из шатра, где жители деревни хранили ее, на этом самом лугу. Многие считают, что большая ива вырвала себя с корнем и выкрала книгу своими плакучими ветвями. Как бы то ни было, ива тоже пропала, а за ней осталась цепочка следов, похожих на корни, которые вели к шатру и из него.

Без книги, без желания, которое многие другие смогли загадать до меня, я надеялась, что лес вознаградит меня добротой, когда мое имя выпадет в лотерее. Но он не высказал благосклонности. Честно говоря, он никогда не приветствует тех, кого выбирают из янтарного кубка. Никто не успевает углубиться в лес дальше чем на несколько ярдов, как их выбрасывает обратно. То же произошло и со мной.

До сих пор этот ритуал так же проклят, как и наша деревня.

Но сегодня все изменится. Сегодня я полна решимости добиться успеха. Я составила подробную карту леса, основываясь на том, что жители деревни помнят о днях, предшествовавших проклятию, когда они могли свободно заходить в лес и покидать его. И я не буду ждать еще месяц окончания лотерейного года, когда имена будут перетасованы, чтобы испытать свою удачу.

Все, что мне нужно, – это чтобы меня снова выбрали. И для этого я разработала стратегию.

Около стола я одна, но все же оглядываюсь через плечо, чтобы убедиться, что никто из жителей деревни не наблюдает за мной. Те, кто, как и я, скучают по Потерянным, заняты расставлением подношений у резного алтаря, чуть в стороне от тропинки. В одном футе от него растут ясени, обозначающие границу леса, и никто не пройдет через нее.

Лес больше никому не позволяет входить в него, если только ему не суждено заблудиться, а этого никто намеренно не выбирает. Наши подношения совершаются в надежде задобрить лес, чтобы он уступил нашим попыткам в каждый День Преданности.

Ингрид Струппин, потерявшая мужа, отдергивает свою юбку подальше от невидимой черты и ставит миску с кашей на алтарь. Гретхен Оттель, лишившаяся брата, наклоняется, чтобы положить рядом букет полевых цветов, затем чихает. Она прикрывает рот рукой и смотрит перед собой широко раскрытыми глазами. Этот чих, конечно, был слишком громким, но, к счастью, лес не шевелится.

– Будь здорова, – говорит ей Ганс Муллер, ставя кружку эля рядом с полевыми цветами Гретхен – слабоалкогольным элем, если это хоть немного похоже на то, что я выменяла на моток пряжи пять дней назад. Как только он поставил кружку, он быстро отходит от ясеней. Снимая соломенную шляпу и склоняя голову, он что-то бормочет. Я думаю, это имя его Потерянной матери, Риллы.

Пожертвования жителей деревни стали более скудными, чем когда-то, но это лучшее, что сегодня может себе позволить каждый. Проклятие, обрушившееся на нас три года назад, с каждым месяцем становится все сильнее. Этот луг тому доказательство. На нем больше не растут цветы.

Выжженный бурьян слишком сильно зарастает колючими сорняками, устойчивыми к засухе.

Каким бы бесполезным ни был День Преданности, наше отчаянное желание спасти Потерянных заставляет нас проводить этот ритуал месяц за месяцем. Никто, включая меня, не знает, что еще нужно сделать, чтобы вернуть расположение леса, пересечь его границу и получить разрешение отправиться в опасное путешествие, чтобы вернуть Потерянных.

Но найти их лишь половина дела. От победителя лотереи также ждут, что он сможет отыскать Книгу Судеб, где бы она ни была спрятана в Лесу Гримм. Мы верим, что, если лес позволит вернуть книгу, проклятье будет снято. Земля исцелится, и Потерянные вернутся домой.

Это мы узнали из загадки, которую оставила после себя книга. Не вся Sortes Fortunae исчезла. В шатре на подставке осталась одна страница, и на этой странице были следующие магические слова, написанные зелеными чернилами:


Желание смерти,
И мир пошатнулся.
Проклятие на вас,
Волшебный лес отвернулся.
Где вода упадет,
Слова вы найдете.
А проклятие спадет,
Когда другого желанием спасете.

Первая половина загадки объясняла, что привело в действие проклятие – загаданное на книге желание, чтобы скрыть следы убийства, а вторая половина объясняла, как снять это проклятие. Загадка также давала единственный ключ к тому, как найти книгу: возле падающей воды. Водопад кажется логичным вариантом, но если бы все было так просто, то Потерянные уже бы нашли книгу и вернулись домой. Но этого до сих пор не произошло.

Но как бы ни было трудно, я клянусь найти Sortes Fortunae. Мне кажется, это такая же моя судьба, как та, что предсказала мне бабушка. Клыкастое Существо, возможно, и сулит мне неминуемую смерть, но я не допущу, чтобы это случилось, пока не спасу маму. Снятие проклятия и ее спасение – связанные вещи. Мне нужна книга, чтобы вызволить ее из леса и лап судьбы.

Когда я убедилась, что никто не смотрит на меня, я сосредотачиваюсь на своей задаче. Быстрая, как сокол, я достаю из кармана фартука горсть сложенных листков бумаги, бросаю их в янтарный кубок и убегаю.

Через несколько секунд молодой баритон раздается в нескольких ярдах позади меня.

– Куда ты так бежишь, Клара? – По дразнящим ноткам в голосе я понимаю, что он улыбается. – Не припоминаю, чтобы ты хоть раз пропускала лотерею, даже когда была еще слишком мала.

Я сдерживаюсь, чтобы не закатить глаза, и медленно поворачиваюсь к Акселю. Конечно, он не мог не упомянуть о нашей разнице в возрасте, как будто эти два года между нами значили, что у него гораздо больше опыта в лотерее. Его имя выпало лишь раз, как и у меня.

Каждый год более тридцати жителей бросают свои имена в янтарный кубок, но каждый месяц, когда луна темнеет и превращается в полумесяц, достают только одно имя. Знак удачи для путешественников. Жители Лощины Гримм цепляются за любое суеверие, которое могло бы помочь вернуть Потерянных и снять проклятие с нашей деревни.

Я все еще не ответила Акселю, так как пытаюсь придумать оправдание, когда он направляется ко мне своей непринужденной походкой, уверенный и в то же время невозмутимый. Как и все остальное в нем, он излучает природное обаяние, о котором не подозревает, но которое заставляет деревенских девушек хлопать ресницами так, что можно подумать, будто у них нервный тик.

Им пришлось бы стукнуть его дубинкой по голове, чтобы он обратил на них внимание. Он всегда заглядывался только на одну девушку, и она стала Потерянной, как и моя мать.

– Так что? – Он перенес вес на одну ногу, засунув руки в карманы брюк. Его непринужденный вид отражается и на всем остальном облике. Рукава рубашки закатаны, открывая обзор на загорелые руки, а ярко-голубой жилет расстегнут и развевается на ветру, как постельное белье на бельевой веревке. Он жует кончик длинной соломинки, которая отливает золотом, как и его безупречно взъерошенные волосы.

– Что за спешка?

В ответ на его ухмылку я скрещиваю руки на груди.

– Я забыла шляпу. Если сегодня меня выберут, она мне понадобится.

– Ты никогда не носила шляп. Ни здесь и нигде. – Его глаза цвета морской волны опускаются к моему носу. – А эти веснушки лишь подтверждают мои слова.

– Сегодня они умоляют о тени, – пожимаю плечами я.

Его широкие плечи сотрясаются от беззвучного смеха.

– Брось, Клара. Я видел, как ты только что бросила что-то в янтарный кубок.

Мои щеки заливает румянец.

– Лишь клевер для удачи.

– Клевер не белый.

– Белый, когда цветет.

Его улыбка становится шире, и он кивает, показывая, что якобы поверил моим словам. Он вынимает соломинку изо рта, наклоняет голову ближе и заговорщицки шепчет:

– Сколько бумажек было в твоей руке, а? Сколько раз ты вписала свое имя?

Я разворачиваюсь, чтобы убежать, но он хватает меня за руку и притягивает обратно. Он на целую голову выше меня, и, стоя так близко, мне приходится задирать голову, чтобы встретиться с ним взглядом. Я нехотя делаю это.

– Ты правда думаешь, я расскажу кому-то об этом? – Он шутливо встряхнул мою руку. – Ты же знаешь меня.

Он прав. Когда мой отец был жив, Аксель помогал ему в сезон ягнения. Я тоже помогала отцу, так часто, как только мама и бабушка разрешали мне.

Однажды ночью, когда мне было тринадцать, а Акселю пятнадцать, у двух овец начались схватки. Папа помогал одной, а мы с Акселем вместе приняли двойню от второй – очень трудное испытание. Никто из нас никогда не помогал овце рожать без присутствия отца.

Ситуация осложнилась, когда на свет появился второй ягненок, который не дышал. Мы с Акселем сделали все возможное, чтобы он ожил. Мы трясли его за задние ноги и растирали соломой. Когда из крошечных легких ягненка наконец вырвалось громкое блеяние, я разрыдалась. Аксель притянул меня к себе и позволил плакать у него на плече.

– Сколько бумажек у тебя было? – вновь спрашивает он.

Я выпрямляюсь.

– Семь.
    </p>
    <a href="http://127.0.0.1:8000/LesGrimm/page=1/{{person.name}}">1</a>
    <a style="color:Orange" href="http://127.0.0.1:8000/LesGrimm/page=2/{{person.name}}">2</a>
    <a href="http://127.0.0.1:8000/LesGrimm/page=3/{{person.name}}">3</a>
    <a href="http://127.0.0.1:8000/LesGrimm/page=4/{{person.name}}">4</a>
</div>
</form>
</body>
</html>