<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лес Гримм</title>
    <style>
        html{
            width: 100%;
        }

        body{
            background: AntiqueWhite;
        }

        .Button:hover{
            background: DodgerBlue;
            transition: 0.3s ease;
        }

        .Container{
            width: 1000px;
            height: 100%;
            margin: auto;
            background: WhiteSmoke;
            text-align: center;
            font-size: 24px;
            border: 2px solid Black;
        }

        .Button{
            position: absolute;
            width: 100px;
            height: 50px;
            background: LightSkyBlue;
            margin-top: -179px;
            margin-left: 400px;
            border: 0px solid;
            font-size: 16px;
        }

        a{
            padding: 10px;
            color: OrangeRed;
            text-decoration: none;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:8000/Hello/{{person.name}}">
<div class="Container">
    <h3>Кэтрин Парди</h3>
    <h1>Лес Гримм</h1>
    <button class="Button">На главную</button>
    <p>Пролог</p>
    <p>До проклятия</p>
    <p>
– Бабушка, расскажи мне о том, как я умираю. – Девочка ждала наступления сумерек, чтобы подойти к бабушке. Когда пожилая женщина закончила работу, она села ближе к теплу камина и прикрыла фиолетовые глаза. На маленьком столике рядом с ней стояла бутылочка с настойкой валерианы, из которой была вынута пробка.

Девочка подошла ближе. Клара была одной из немногих в Лощине Гримм, которая размышляла о смерти, а не о жизни и том, какой она могла бы быть. Другие дети в деревне мечтали о счастье, которое ожидало их, когда им исполнится шестнадцать. Но Клара сомневалась, что со своей удачей сможет прожить еще хотя бы семь лет.

Глубокая морщина пролегла между тонкими бровями бабушки.

– Ma petite chère[1], – произнесла она на языке, на котором больше никто в их деревне не говорил, даже давно умерший дедушка Клары. – Мне не нравится эта история.

Клара отодвинула бутылочку с настойкой на край стола, чтобы освободить место для колоды раскрашенных гадальных карт, которые держала за спиной. Она расправила свои худые плечи и выпрямилась настолько, насколько позволяла ее девятилетняя фигура.

– Тогда расскажи мне новую историю, – попросила она, протягивая карты.

Взгляд бабушки упал на колоду. В камине затрещали угли, отражаясь в зрачках старухи, как испуганные светлячки. Она была единственным известным Кларе человеком, который обладал крохами собственной магии, хотя это была не самая сильная магия, известная в Лощине Гримм. Жители деревни, конечно, уважали дар бабушки читать будущее, но то, что они по-настоящему почитали, было другой магией, совершенно не связанной с предсказанием. Это была магия Леса Гримм. Она обладала силой исполнять желания и воплощать мечты в реальность.

Эта сила была заключена в книге, удивительном подарке леса, который, как говорили, появился в деревне более ста лет назад. На опушке у края леса книга появилась в окружении грибов в красную крапинку и четырехлистного клевера. Стволы деревьев легли в основу бумаги, листья окрасили чернила, а тонкие корни прошили переплет. На обложке было выгравировано: «Sortes Fortunae», что означало «Книга Судеб».

Магию книги можно было использовать один раз в жизни, когда достигнешь совершеннолетия. Бабушке уже давно не шестнадцать. Но в Лощину Гримм она приехала на двадцать третьем году жизни, а два года спустя воспользовалась книгой. Хотя у нее была способность предсказывать будущее, это не помешало ей желать того, что могла предложить книга. Бабушка загадала желание изменить свою судьбу.

Клара так и не узнала, в чем заключалось ее желание. Пожилая женщина никогда не рассказывала об этом. Как и все мудрые жители деревни, бабушка хранила свое желание в тайне. Если бы она раскрыла его, заклинание бы рассеялось.

– Нет. – Бабушка покачала головой, отказываясь гадать на картах. – Мы уже играли в эту игру, я не могу снова давать тебе ложную надежду.

Обычно бабушка не называла гадание игрой, но за последние несколько месяцев Клара утомила ее десятками просьб. Пять раз, когда бабушка смягчалась, чтение, или «история», как она это называла, не показывало Кларе будущее, в котором не было бы ее преждевременной смерти.

– Но что, если..? – Маленькая девочка закусила нижнюю губу.

– Мои карты никогда не лгут, дитя. – Тяжело вздохнув, бабушка заправила выбившуюся прядь волос обратно в косу Клары и потрепала ее по щеке. – Прости, но судьба не меняется.

До вчерашнего дня Клара, возможно, и верила этим словам. Но вчера вечером на гадание к ним в дом пришла жена фермера, и этот вечер оказался исключительным.

Чем-то новым стал не сам визит. Деревенские жители часто умоляли бабушку рассказать об их судьбах. Большинство из них уже загадали свое единственное желание в Книге Судеб, но они все еще стремились найти способы повлиять на новые периоды своей жизни или, по крайней мере, подготовиться к успеху или неудаче в будущем.

Вырастет ли урожай или погибнет? Расцветет ли романтическая любовь или увянет? Заживет ли рана или загноится? Бабушкины карты давали ключ к разгадке.

Прошлым вечером жена фермера пришла узнать, будет ли ребенок в ее утробе расти или умрет. Нервничая из-за того, что не могла узнать ответ, она оттягивала начало гадания, расспрашивая о каждой из тридцати шести карт.

– Это Красная Карта, – ответила бабушка, когда часы с кукушкой пробили час после того, как Клара легла спать.

С того места, где она подслушивала их разговор, находясь вне поля зрения бабушки в узком коридоре, Клара представила себе эту карту. На других гадальных картах в колоде были сложные и таинственные изображения, но Красная Карта была просто выкрашена в малиновый цвет, и ни один из ее краев не был потерт.

– Какое обычное название, – отметила жена фермера. – Какая обычная карта.

– Но при этом необычайная, – ответила бабушка. – Ее настоящее название «Вершитель Судеб», и я никогда раньше не толковала ее при чтении.

После этого Клара ничего не слышала. У нее загудело в ушах, и она оперлась рукой о деревянную стену, чтобы не упасть. До этого момента она не знала, что означала Красная Карта, а теперь поняла, что это была единственная карта, которая могла ее спасти.

Хотя Красная Карта не могла рассказать ей, как изменить судьбу, в отличие от волшебных чернил Книги Судеб, когда человек загадывал желание, она все же сделала бы нечто еще более обнадеживающее: она предсказала бы, что Клара изменит судьбу.

Если бы бабушка вытянула Красную Карту для Клары, могла бы ее история закончиться по-другому?

В ту ночь Кларе приснился красный сон, и когда на следующий день она занималась своими делами, то замечала красный повсюду. Бородка петуха. Брусника в зарослях за овечьим пастбищем. Божьи коровки, сидящие на фенхеле в огороде с травами.

И вот, стоя в слабом свете камина, Клара положила свою маленькую ручку поверх бабушкиной и прошептала:

– S’il te plaît. – Она знала всего несколько слов на родном языке бабушки, и они означали «пожалуйста».

Возможно, бабушку тронул язык ее далекой родины, расположенной за лесистой горной грядой. Или же взгляд больших и искренних изумрудных глаз своей внучки. Или, может, это было общее тайное желание, чтобы еще одно гадание действительно изменило ужасную судьбу Клары. Как бы то ни было, бабушка кивнула и разложила на столе колоду карт рубашкой вверх.

Клара поспешно подняла вуаль для гадания, и, когда старуха опустила ее на свои глаза, Клара снова накрыла ее руку своей. С величайшей осторожностью бабушка вслепую вытащила карты.

Клара была свидетельницей гаданий, когда выкладывали целых семь карт для человека, хотя три были гораздо более распространенным явлением. Однако гадания Клары всегда ограничивались двумя картами. Если повезет, на этот раз все будет по-другому.

Бабушка перевернула первую карту: Полночный Лес. Он символизировал то, что было запрещено.

Она вытащила вторую карту: Клыкастое Существо.

Сердце Клары упало. Клыкастое Существо было худшей и самой страшной картой, картой, которая предсказывала неминуемую смерть.

Это было безнадежно. Ее история осталась неизменной. Запретный выбор оборвет ее жизнь. Если только…

Рука бабушки замерла над единственной картой на столе с четкими, неизношенными краями. У Клары перехватило дыхание. Очень осторожно она подтолкнула обветренные пальцы бабушки к перевернутой карте, окрашенной в красный.

Но бабушка так и не перевернула Красную Карту. На самом деле она даже не прикоснулась к ней. Она открыла лицо, посмотрела на две вытащенные карточки и низко опустила голову.

– Это все, – заключила она. – Твоя кровь перестала петь мне.

Клара сморгнула слезы и выдавила улыбку.

– Все в порядке. Не расстраивайся, Mémère[2]. – Будучи маленькой, она часто так обращалась к своей бабушке. – Это не твоя вина.

Входная дверь распахнулась. Вошла взрослая копия Клары с почти черными волосами, молочно-белой кожей и лучистыми зелеными глазами. Женщина поставила ведро с колодезной водой и уперла руку в бедро.

– Что здесь происходит? – спросила она, вглядываясь в мрачные лица матери и дочери, и, хотя ее вопрос был четкий, он не звучал резко. Розамунд Турн была прямолинейной женщиной, но редко впадала в ярость.

Ни бабушка, ни Клара не ответили ей, потому что ответ был очевиден, как овца, которую пора стричь. Все, что нужно было сделать Розамунд, – это взглянуть на две перевернутые карты.

Она подняла бровь, сняла фартук и повесила его на крючок у двери. Подойдя к верхней полке в углу, она достала что-то из коробки и сунула в карман платья. Повернувшись к дочери, своему единственному ребенку, она протянула ей руку.

– Пойдем. Я хочу показать тебе кое-что.

Не задавая вопросов, Клара переплела свои пальцы с пальцами матери, и они вышли на улицу. Миновали сад, овечье пастбище, плетенную из прутьев и тростника изгородь и, наконец, ручей, который отделял их ферму от Леса Гримм.

– Ты знала, что однажды бабушка погадала мне на картах? – спросила у нее мама, когда они подошли к большому дубу. Луна осветила небо и разогнала сумерки, окрасив зубчатые листья в серебристый цвет.

– Правда? – Клара уставилась на нее. Ее мать, казалось, никогда не интересовалась бабушкиными предсказаниями, хотя это не означало, что ее не интересовала ее собственная судьба. Клара знала об этом, поскольку ее мать уже попросила исполнить свое единственное желание у Sortes Fortunae. Отец Клары поступил так же.

– Мне тогда было еще меньше, чем тебе.

Клара попыталась угадать, какие карты бабушка вытянула для ее матери. Дама с Лилией символизировала незапятнанную красоту. Каменный Замок – долгую жизнь. Узел из Девяти Нитей – нерушимые семейные узы.

– Какую историю рассказали тебе карты? – спросила она, когда они проходили под деревом.

В тени дуба лицо и фигура ее матери расплывались, становясь скорее призрачными, чем живыми.

– Мне рассказали твою историю.

Клара не поняла.

– Бабушка вытянула для тебя Пятнистого Олененка? – карта, предсказывающая рождение ребенка.

– Нет. – Голос матери дрогнул, словно она то ли сдерживала смех, то ли рыдания. Возможно, и то и другое. – У нас с тобой одна история. Нам нагадали одно и то же. Бабушка и для меня вытянула Полночный Лес и Клыкастое Существо.

Клара отшатнулась, встревоженная новым призрачным обликом матери.

– Но… ты все еще жива.

– Да. – Мать обошла вокруг ствола дерева и провела по нему рукой. – О, как я молила маму погадать мне, но как только она это сделала, я проплакала несколько дней. В конце концов отец утешил меня, помогая посадить этот дуб. Тогда это было лишь молодое деревце, но посмотри на него сейчас. Это дерево живет не так уж долго. – Клара запрокинула голову и посмотрела на ветви над собой. Самые высокие из них, должно быть, были даже выше, чем крыша их дома.

– Разве дубы не растут сотнями лет?

– Об этом я и говорю, – ответила мама. – Они практически вечные.

Но Клара подумала о другом: этот дуб, каким бы большим он ни был, прожил лишь малую толику тех лет, которые он по-прежнему заслуживал.

Ее захлестнул бурный поток эмоций, и она обняла мать за талию. Она больше не заботилась о своей собственной жизни. Она беспокоилась только о матери. Ей была невыносима мысль, что та может умереть раньше времени.

Мать, пораженная поступком дочери, замерла. Тыльной стороной ладони она пригладила волосы на затылке Клары, которые выбились из ее косы, уложенной на макушке.

– Не волнуйся, дорогая. – Ее голос был мягким, как овечья шерсть. – Загляни мне в карман. У меня для тебя кое-что есть.
    </p>
    <a style="color:Orange" href="http://127.0.0.1:8000/LesGrimm/page=1/{{person.name}}">1</a>
    <a href="http://127.0.0.1:8000/LesGrimm/page=2/{{person.name}}">2</a>
    <a href="http://127.0.0.1:8000/LesGrimm/page=3/{{person.name}}">3</a>
    <a href="http://127.0.0.1:8000/LesGrimm/page=4/{{person.name}}">4</a>
</div>
</form>
</body>
</html>