<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лес Гримм</title>
    <style>
        html{
            width: 100%;
        }

        body{
            background: AntiqueWhite;
        }

        .Button:hover{
            background: DodgerBlue;
            transition: 0.3s ease;
        }

        .Container{
            width: 1000px;
            height: 100%;
            margin: auto;
            background: WhiteSmoke;
            text-align: center;
            font-size: 24px;
            border: 2px solid Black;
        }

        .Button{
            position: absolute;
            width: 100px;
            height: 50px;
            background: LightSkyBlue;
            margin-top: -179px;
            margin-left: 400px;
            border: 0px solid;
            font-size: 16px;
        }

        a{
            padding: 10px;
            color: OrangeRed;
            text-decoration: none;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:8000/Hello/{{person.name}}">
<div class="Container">
    <h3>Кэтрин Парди</h3>
    <h1>Лес Гримм</h1>
    <button class="Button">На главную</button>
    <p>Глава 2</p>
    <p>
Я замираю. Кровь приливает к голове. Руки подлетают к сердцу. Я ахаю, голова начинает кружиться. Неосознанно я делаю все, что репетировала. Только причина в другом. Я услышала не то имя. Оно должно было быть другим, учитывая такие шансы в мою пользу.

– Нет! – выпаливаю я, выдыхая сдерживаемое дыхание.

Головы поворачиваются. Люди расступаются. Все смотрят на меня. Кровь стучит в висках. Листок в руках господина Освальда пульсирует от моего взгляда.

– Нет? – переспрашивает он. Его лицо вытягивается, когда он хмурит брови.

Я делаю два шага вперед. Наконец я могу разобрать имя. Там действительно написано «Аксель Фурст».

Я бросаю резкий взгляд на своего друга. Что он затеял?

Его широко раскрытые глаза пристально смотрят на меня. Его смуглая кожа становится бледной, как кость. Он слегка качает головой. Он тут ни при чем. Конечно, нет. Он бы никогда не подставил меня. Кроме того, его имя не вытаскивали в этом году. Оно было в янтарном кубке, как и положено. Он выиграл, и выиграл честно.

Взгляды жителей деревни устремляются на меня. Мои щеки горят, и я обхватываю живот руками. Я встречаю испуганный взгляд господина Освальда и откашливаюсь.

– Я просто хотела сказать… – Мой голос становится на октаву выше, и я сглатываю. – Нет, Аксель не сможет войти в лес без моей карты. – Я вытаскиваю сложенный пергамент из кармана. – Так у него будет больше шансов на успех.

Господин Освальд поднимает бровь, но кивает, принимая мой ответ.

– Поздравляю, Аксель, – объявляет он. – Спаси нашу деревню. Спаси наших Потерянных.

– Спаси нашу деревню. Спаси наших Потерянных, – повторяю я с остальными мантру, которую мы говорим каждому победителю лотереи.

Несколько человек подходят к Акселю и жмут ему руку. Другие же направляются ближе к границе леса, чтобы понаблюдать за его попыткой. Некоторые уходят с поляны с потупленными глазами и поникшими плечами.

Я тащусь к алтарю и прячу желудь в карман. Нет, он должен остаться. Я кладу его обратно на резную деревянную скамью. Аксель сделает все возможное, чтобы найти мою маму, как я и обещала ему, что найду Золу, если бы на листке было написано мое имя.

Теперь Акселю пожимает руку господин Освальд. Цвет вернулся к лицу друга. Он воодушевлен. У него появилась возможность спасти любимых людей.

У меня щемит в груди. Я пытаюсь стряхнуть это ощущение. Я не могу делать вид, что мое горе сильнее, чем у кого-либо еще в Лощине Гримм, даже если трудно представить, что они скучают по кому-то больше, чем я по своей матери.

Сияющий отец Золы встает рядом с Акселем. Мать девушки вытирает платком мокрые глаза. Они по очереди обнимают его и что-то говорят напоследок. Когда они отпускают его, Аксель подходит ко мне, пока я бесцельно слоняюсь по лугу, и, вздохнув, дергает себя за воротник.

– Клара, я не хотел…

– Я хочу, чтобы ты сделал это. – Я отдаю ему карту. – Правда. Так у тебя будет больше шансов на успех.

Он наклоняет голову, благоговейно проводя пальцами по краю сложенного пергамента. Он спрашивал меня о карте, и я показала ему ее только один раз. Большую часть последнего года я потратила, чтобы набросать все, что я знаю о Лесе Гримм. У деревенских жителей есть истории о лучших днях, когда они могли отправиться в лес, и на этой карте я собрала воедино все, что они мне рассказали.

Аксель прячет ее в карман брюк.

– Я верну ее, если не смогу…

– У тебя получится. – Я правда в это верю? – Просто пообещай, что…

– Я найду ее. – Он повторяет мои слова, сказанные ему чуть ранее.

В глазах защипало. Я обнимаю его, приподнимаясь на цыпочки. Он наклоняет голову и утыкается носом в изгиб моей шеи.

Когда мы помогли овце родить двух ягнят, руки Акселя дрожали от радости и облегчения. Сейчас они не дрожат, но я все еще чувствую его сильные эмоции, когда он крепко обнимает меня. Возможно, он боится. Он может встретить свою смерть, когда войдет в лес.

В первый год проклятия трое победителей лотереи были убиты, как только они миновали ясени. В прошлом году двое умерло таким же образом, хотя они прошли немного дальше. В этом году еще никто не умер. По крайней мере, пока что. Жители деревни научились не испытывать удачу.

А я уже смирилась с тем, что моя неминуемая смерть наступит от рук леса. Я не забыла, какие две карты выпали мне и маме. Если Аксель не спасет ее, клянусь, это сделаю я. Каким-нибудь образом я верну книгу и загадаю заветное желание.

Я отстраняюсь и смотрю ему в глаза.

– Возьми мою удачу, – шепчу я слова, которые жители Лощины Гримм стали говорить с тех пор, как на нас пало проклятие. Они вселяют больше надежды, чем просто «удачи», пусть даже совсем немного.

– Спасибо. – Он криво улыбается в своей непринужденной и очаровательной манере. Его взгляд падает на родителей Золы, и он прерывисто вздыхает. Они рассчитывают, что он вернет их дочь в целости и сохранности.

Когда Аксель отправляется к господину Освальду к началу тропы, я встаю позади группы девушек примерно моего возраста, которые ждут, чтобы понаблюдать за его попыткой. Половины из них не было здесь несколько минут назад. Слух о том, что он выиграл в лотерею, быстро распространился.

– Разве это не ужасно романтично? – прошептала Фрида Краус Лотте Диттмар.

Лотте кивает, теребя кончик длинной косы.

– Что, если на Золе все еще будет фата, когда он ее найдет?

Я представляю прекрасную Золу в белом платье и красной фате. До проклятия жители деревни не выходили замуж так рано, но теперь жизнь кажется короче. Никто не хочет тратить отпущенное им время впустую. У Золы и Акселя это время украли. Она стала Потерянной прошлым летом, всего за несколько часов до их свадьбы.

Той ночью сестра Золы, моя лучшая подруга Хенни, проснулась и заметила, что девушки не было в кровати. Хенни выглянула в окно и в свете полной луны увидела, как Зола шла к Лесу Гримм.

По словам Хенни, Зола была словно не в себе. Она не обернулась, когда Хенни позвала ее, и даже когда та начала плакать. На Золе была фата и белое свадебное платье, но на платье виднелись черные пятна – как позже поняла семья, из-за того, что она испачкала его в саже из камина. Позже жители деревни стали называть Золу Золушкой, трагически Потерянной невестой в Лесу Гримм.

Аксель берет у господина Освальда дорожный рюкзак и перекидывает его через плечо. Он не обращает внимания на разговор девушек о нем. Его челюсть сжата, брови нахмурены, а взгляд устремлен в лес.

Аксель жил на ферме Данцеров накануне своей свадьбы. К тому времени, когда Хенни разбудила родителей и они втроем выбежали на улицу, чтобы остановить Золу, Аксель был уже далеко впереди них. Он бежал за своей невестой, выкрикивая ее имя, пока она приближалась к Лесу Гримм.

Он опоздал.

Деревья распростерли свои ветви, как приветственные объятия, и, как только Зола переступила их границу, они сомкнулись перед Акселем. Корни выросли из земли и сплелись в барьер из веток. Он ударился об него, попытался вскарабкаться, раздвинуть, но лес не поддавался. Барьер оттолкнул парня. Его корни и ветви хлестали, как плети.

Он не рассказывал о той ночи, но Хенни поделилась со мной, что он плакал и злился и в конце концов упал на колени. Семья Золы подхватила его, и они, рыдая, обняли друг друга.

Вместе они наблюдали за тем, как Зола заходила в глубь леса. Сквозь маленькую щель между ветвей они увидели, как она прошла в луче лунного света. Шлейф ее платья волочился по земле, цепляясь за камни и корни, а красная фата развевалась, переливаясь, как кровь.

Она ни разу не оглянулась назад.

Аксель делает первый шаг в сторону леса, и мое сердце замирает. Он все еще в ярде от ясеней, но я уже задерживаю дыхание. Остальные жители деревни, замерев, наблюдают.

Он двигается вперед, пока не достигает деревьев. Останавливается и закрывает глаза, что-то неразборчиво произносит. Выпрямляется. Поднимает правую ногу.

Капля пота стекает по моей шее.

Он равняется с ясенями и заносит ногу. Медленно выдыхает и открывает глаза. Переносит левую ногу через невидимую черту и вдыхает через нос. Делает еще два шага. Кивает.

Я тоже киваю. «Продолжай».

Он продолжает идти веред, осторожно, но целеустремленно. В нескольких футах впереди маячат первые два дерева Леса Гримм, пара высоких стражей.

Большинство победителей лотереи не могут пройти мимо Близнецов, как мы их называем. Тропинка пролегает между их стволами и изогнутыми ветвями, и эти ветви смертельно опасны. Они хлещут и толкают, колют и душат.

Один из победителей, Франц Хаген, попытался обойти Близнецов, выбрав другой путь, но на собственном горьком опыте убедился, что их корни простираются далеко. Они появились из-под земли и утащили его с собой. Когда земля сомкнулась над его головой, жители деревни, затаив дыхание, ждали, когда он вынырнет на поверхность. Но этого так и не произошло. Эта земля стала его могилой.

Теперь Аксель находится в тени Близнецов. Его шаг не замедляется, но кулаки сжаты, а плечи напряжены.

Он выигрывает в лотерею во второй раз. В первый он также дошел до Близнецов, но, как только он встал между ними, их ветви обрушились на него и отбросили на пятнадцать футов назад. Он приземлился на валун и сломал левую руку.

Когда одиннадцать месяцев назад я выиграла в лотерею, я продвинулась так же далеко и ни на шаг дальше. Земля вздыбилась, как огромная волна, и одним движением отбросила меня назад, пока я снова не оказалась за ясенями. Моя попытка войти была оскорбительной. У меня даже не осталось и синяка.

Аксель делает еще один шаг. Он стоит в самом центре, между Близнецами. Я зажимаю нос и рот ладонями. Он смотрит на деревья так, словно умоляет их.

– Пропустите его, – шепчу я, тяжело дыша.

Один шаг. Второй. Третий, четвертый, пятый. У меня перехватывает дыхание. Я испускаю безумный смешок. Он прошел Близнецов. У него все может получиться.

Он продолжает идти. Надежда расцветает у толпы. Раздается несколько одобрительных возгласов. Люди окликают его по имени, подбадривая. Фрида и Лотте подпрыгивают на носочках и визжат. Я обхожу их, чтобы лучше видеть.

– Сохраняй спокойствие, – говорю я Акселю, несмотря на то что он не слышит меня. – Не беги. – Это всегда искушение. Редкие победители лотереи, которым удается зайти так далеко, импульсивно бросаются вперед, забираясь глубже в лес, как будто там они будут в большей безопасности. Но это совсем не так.

Аксель продвигается еще на три шага вперед. Низкий стон раздается позади него. Его издают Близнецы. Они раскачиваются, поднимая корни на поверхность.

Я тихо ругаюсь. Он напрягается. Сгибает колени. Он словно стрела на тетиве, готовая к выстрелу.

– Не делай этого, – тихо умоляю я.

Громкий треск сотрясает воздух. Толстая ветка отодвигается от левого Близнеца. Аксель вовремя отклоняется. Ветка падает на землю, едва не раздавив его. Он смотрит на это широко раскрытыми глазами и идет дальше, к лесу. Его ноги не замедляются. Они набирают скорость.

Нет, нет, нет.

Он бежит. Несется со всех ног. Я никогда не видела, чтобы он двигался так быстро.

Паника накрывает меня с головой. Я с ужасом наблюдаю, как ветви Близнецов тянутся к нему. Они растут с невероятной скоростью.

Он бежит недостаточно быстро. Однажды лес отвергает тебя, и ты не сможешь его переубедить.

Ветви обвиваются вокруг талии Акселя. Они поднимают его высоко в воздух. Теперь он завис над Близнецами. Мои нервы на пределе. «Не уроните его». Он не выживет.

– Аксель! – Я заношу ногу над невидимой чертой. Я не знаю, о чем думала. Я не смогу поймать его или как-то помочь. Он слишком высоко. Но я не могу остановиться.

– Клара! – кричит господин Освальд.

Я нарушила правило. Пересекла черту, не выиграв лотерею. Я не оборачиваюсь. Только бегу вперед. К своему другу.

– Не причиняйте ему вред! – кричу я Близнецам. – Он вам не враг! – Как и моя мама. Никто из жителей деревни, кроме неизвестного убийцы, но лес винит всех нас. – Поставьте его на землю!

Дикая трава обвивает мои лодыжки. Я падаю на колени. Я рядом с Близнецами. Их корни вырываются из земли и извиваются, готовые к удару. Осознание глупости, которую я совершила, обрушивается на меня, как башня из кирпичей. Если я сейчас умру, то никогда не спасу маму.

Я отступаю на несколько дюймов, но больше не могу сдвинуться с места. Дикая трава цепляется за мои лодыжки.

– Пожалуйста! – взываю я к Близнецам, молясь за Акселя, за себя и за маму. Мольба о каждой надежде, которая есть у меня в моей запутанной судьбе с Лесом Гримм.

Аксель пролетает над Близнецами, цепляясь за их ветви. Он катится вниз, к лугу. Деревья отпускают его в двенадцати футах от земли. Он падает рядом со мной и, хватая ртом воздух, перекатывается на спину, уставившись в небо.

– Ты в порядке? – спрашиваю я. Глупый вопрос. Конечно, он не в порядке. Но хотя бы живой.

Он поворачивает ко мне голову, приподнимая брови. Его взгляд блуждает по моему лицу.

– Почему ты?.. Тебе не стоило…

Близнецы вновь застонали. Аксель выругался.

– Поторопись.

Я пытаюсь встать, но мои лодыжки все еще связаны. Я рву дикую траву. Корни Близнецов тянутся ко мне. Аксель роется в рюкзаке. Каким-то чудом ему удалось удержать его в руках. Он достает маленький нож и срезает траву. Острый край царапает мою кожу, но я не чувствую боли, даже когда по ноге стекает струйка крови.

Большой корень ударяет Акселя по спине. Он наклоняется вперед и роняет нож. Когда он тянется к нему, корень толкает его в сторону луга.

Я хватаю нож и срезаю последние травинки. Ползу за Акселем, но недостаточно быстро. Корни хлещут меня по спине. Я вскакиваю на ноги. Аксель бросается ко мне. Он хватает меня за руку, и мы мчимся к ясеням, обегаем ямы, где совсем недавно лежали корни, и заросли сорняков.

Деревья в ярде от нас. Мы сжимаем руки друг друга и прыгаем.

Мы пересекаем черту и падаем на землю. Моя голова сильно ударяется о живот Акселя. Он хрипит, и у него перехватывает дыхание.

Ошеломленная, я сажусь. Он делает то же самое. Одновременно мы оглядываемся на лес. Пейзаж меняется. Ямы заполняются землей, сорняки исчезают, а корни Близнецов уходят обратно под землю. Их высокие ветви опускаются, а стволы снова занимают свои посты в качестве статуй-стражей. Теперь колышутся лишь листья и трава от слабого ветерка.

Смертоносный Лес Гримм снова погрузился в сон.

Но только на время.
    </p>
    <a href="http://127.0.0.1:8000/LesGrimm/page=1/{{person.name}}">1</a>
    <a href="http://127.0.0.1:8000/LesGrimm/page=2/{{person.name}}">2</a>
    <a href="http://127.0.0.1:8000/LesGrimm/page=3/{{person.name}}">3</a>
    <a style="color:Orange" href="http://127.0.0.1:8000/LesGrimm/page=4/{{person.name}}">4</a>
</div>
</form>
</body>
</html>