<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лес Гримм</title>
    <style>
        html{
            width: 100%;
        }

        body{
            background: AntiqueWhite;
        }

        .Button:hover{
            background: DodgerBlue;
            transition: 0.3s ease;
        }

        .Container{
            width: 1000px;
            height: 100%;
            margin: auto;
            background: WhiteSmoke;
            text-align: center;
            font-size: 24px;
            border: 2px solid Black;
        }

        .Button{
            position: absolute;
            width: 100px;
            height: 50px;
            background: LightSkyBlue;
            margin-top: -179px;
            margin-left: 400px;
            border: 0px solid;
            font-size: 16px;
        }

        a{
            padding: 10px;
            color: OrangeRed;
            text-decoration: none;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:8000/Hello/{{person.name}}">
<div class="Container">
    <h3>Кэтрин Парди</h3>
    <h1>Лес Гримм</h1>
    <button class="Button">На главную</button>
    <p>
– Семь! – Он давится от смеха. Я хлопаю его по руке и пытаюсь сдержать улыбку. Его хриплый смех невероятно заразительный.

Я оглядываюсь на жителей деревни. Несколько из них, включая господина Освальда, председателя деревенского совета, смотрят на нас, сдвинув брови под таким углом, что могут соперничать со скошенными хохолками больших рогатых сов. В конце концов они теряют интерес, и, как только отворачиваются, Аксель подталкивает меня локтем.

– Пошли. Если поторопимся, то еще все исправим.

– Что исправим?

– Все эти лишние листочки. Их нужно вытащить из кубка.

Я зарываюсь пятками в пожухлую дикую траву.

– Нет.

– Люди поймут, что ты нарушила существующий порядок вещей. Твое имя уже вытаскивали в этом году.

– Кто помнит, что произошло одиннадцать месяцев назад? Теперь мне семнадцать и…

– Клара…

– Час настал! – объявляет деревенский часовщик. Его голос звучит громко, но похож на смертный приговор. – Соберитесь вокруг, чтобы узнать, кто же выиграет в лотерею.

Всякая болтовня мгновенно замолкает. Слышен только шелест травы, по которой пробираются сельские жители, молчаливые, как плакальщицы на похоронах. Для многих надежда на то, что ритуал, проведенный в этом месяце, принесет благоприятный результат, висит на волоске тоньше паутинки.

Непринужденность Акселя улетучивается. Он потирает затылок и наклоняется к моему уху.

– Ты все еще можешь поговорить с господином Освальдом, – тихо предлагает он. – Еще не слишком поздно, чтобы признаться в том, что ты натворила.

Я отстраняюсь и скрещиваю на груди руки. Почему Аксель не хочет, чтобы меня выбрали?

– Ты сомневаешься в моих возможностях? – так же тихо спрашиваю я.

– Не в этом дело.

– Ты видел мою карту. Я подготовлена больше, чем любой другой.

– Я знаю, но лес… – Его взгляд скользит к возвышающимся за лугом деревьям, и его плечи вздрагивают. – Не стоит искушать судьбу.

Я поднимаю бровь.

– А не пора ли кому-нибудь это сделать? – Я позволяю себе улыбнуться. Надеюсь, это вызовет у него ответную улыбку. Я предпочитаю, чтобы надо мной подтрунивали, а не беспокоились.

Он качает головой, и уголки его губ наконец слегка поднимаются.

– Справедливо.

Меня охватывает удовлетворение, но затем в груди что-то сжимается. Я получила желаемую улыбку, но сквозь нее вижу боль, которую Аксель так хорошо умеет скрывать за маской непринужденного обаяния.

Он оглядывает других жителей деревни. Мы все еще вне зоны слышимости, если он беспокоится об этом.

– Если тебя выберут…

– Я найду ее. Обещаю.

Он тяжело сглатывает.

– Тогда ты станешь первой, кого лес будет рад впустить.

– Так и будет. – Я поднимаю голову. Я уже положила на алтарь свое подношение: желудь, который мама подарила мне семь лет назад. Если Лес Гримм не примет это как самое ценное, чем я могу пожертвовать, чтобы завоевать его расположение, то я не знаю, что может помочь.

Аксель долго всматривается в мое лицо, как будто собирается сказать что-то еще, но молчит. Он только кивает, резко отворачивается и направляется к родителям Золы, девушки, которую он потерял прошлым летом.

Ее мать сжимает руку Акселя, а отец кладет руку на его плечо. Данцеры приняли его как сына, которого у них никогда не было, но о котором они всегда мечтали.

Господин Освальд подходит к лотерейному столу и откашливается, приглаживая тонкими пальцами редеющие волосы. Он встречается взглядом со всеми присутствующими тридцатью людьми, и, когда его взгляд останавливается на мне, я стараюсь не вызывать подозрений. Я не могу показаться слишком самоуверенной, учитывая шансы.

– Никогда еще люди не были так одарены магией, как мы, простые жители Лощины Гримм, – обращается он к толпе, а я в это время проскальзываю позади них. – Никогда еще не слышали о магии такого рода в покрытых лесами горных краях, да и вообще нигде, судя по рассказам странствующих торговцев. Но наши предки чувствовали ее. Она привлекла их в это место и помогла им благоустроить здесь жизнь благодаря обильным урожаям и целебной колодезной воде.

Я знала эту историю наизусть. Господин Освальд рассказывает ее каждый День Преданности. Если бы только я могла быть тем, кто расскажет ее. Его тон почтителен, но в нем нет ни пыла, ни надежды.

– Наш народ уважал лес и жил с ним в гармонии. Он всегда был щедрым, спокойным, добрым. Лес Гримм любил нас в ответ, и его любовь была настолько сильной, что больше тысячелетия назад его магия подарила нам Sortes Fortunae.

Я помню, как издалека видела Книгу судеб. Пьедестал, на котором она лежала, до сих пор стоит на этом лугу, так же как и небольшой шатер, в котором она хранилась. Мне не разрешалось прикасаться к книге. Никому из нас, только если кто-то не собирался загадать желание.

– Когда жители деревни шептали самые сокровенные желания Sortes Fortunae, книга показывала, как их исполнить, – продолжал господин Освальд. – Каждому жителю давался этот шанс, когда он достигал совершеннолетия, но только один. Книга никогда не исполняла второе желание.

Sortes Fortunae не вознаграждает алчные сердца. С годами жители Лощины Гримм пришли к пониманию этого. Книга судеб не только не исполняла дополнительные желания, но и отменяла желания тех, кто их раскрывал.

Гилли Химмел пожелала стать красивой. Но, когда она похвасталась, что Sortes Fortunae подсказала ей, как добиться самой безупречной кожи в горных районах, она подхватила оспу, которая оставила на ее лице глубокие шрамы.

Фридрих Брандит пожелал богатство. Когда Книга Судеб велела ему заняться добычей серебра на своей ферме, и он наткнулся на серебряную жилу. Он отпраздновал это тем, что выпил слишком много пива в таверне. Язык развязался, и он выдал тайну того, как он разбогател. На следующий день туннель с месторождением руды обрушился, как и все туннели, которые он прорывал позже.

Со временем жители деревни осознали ограниченную возможность магии, которая помогала Книге Судеб оставаться тайной. В конце концов, если бы информация о ее существовании когда-нибудь стала известна, люди со всех уголков мира стекались бы сюда, наводняли это место и злоупотребляли его ресурсами. Лощина Гримм больше не была бы тем маленьким убежищем, которым является. Или которым была.

– Все было хорошо до тех пор, – вещал господин Освальд, возвращая мои мысли к жизни до проклятия, – пока кто-то не использовал Sortes Fortunae ради злой цели: скрыть убийство.

Толпа начала переглядываться. Никто не знает, кто убил Брена Циммера, но даже если бы они это узнали, то что бы это изменило? Кузнец все равно останется в могиле. Даже магия леса не способна воскресить его. Иначе жители деревни давно бы попытались это сделать. Они бы использовали желания, чтобы вернуть своих любимых к жизни.

– В конце концов Лес Гримм забрал книгу, – продолжает господин Освальд. – Вода в колодце помутнела, а наши посевы погибли.

Жители деревни склоняют головы. Sortes Fortunae исчезла в тот день, когда было обнаружено тело Брена Циммера, лежащее лицом вниз в ручье с кухонным ножом в спине.

– Многие из нас приносили подношения, чтобы лес вернул нашей деревне книгу, но каждый раз, когда кто-либо пересекал его границу, он больше не возвращался.

Это было еще до того, как стали проводиться ежемесячные Дни Преданности, когда люди еще могли войти в лес, не опасаясь немедленного изгнания. Со временем лес начал прогонять любого, кто пытался это сделать. Дни Преданности остаются нашей последней надеждой вернуть расположение леса. Если эти леса почувствуют, как сильно мы все еще чтим их, даже несмотря на наши тяжелые обстоятельства, позволят ли они нам наконец войти, найти книгу, снять проклятие и вернуть Потерянных?

Я смотрю на Дерево Потерянных и на развевающуюся полоску розово-красной шерсти. У меня сжимается грудь в том месте, которое никогда не расслабляется.

Мама стала первым жителем, кто вошел в лес после того, как у нас забрали Sortes Fortunae. Отец пропал за четыре дня до этого, и она не могла найти себе места от беспокойства. Я пыталась успокоить ее. Говорила, что отец ищет заблудившегося ягненка. Что его и раньше не было так долго. Но она настаивала, что времена изменились.

Только когда на четвертый вечер бабушка объяснила, в чем дело, я наконец поняла почему. Успокоенная настойкой валерианы, она призналась, что за несколько дней до этого отец попросил ее погадать ему и она вытянула для него три карты: Безлунная Ночь, Потерянная Любовь и Дикая Вода.

Безлунная Ночь символизировала ночь новолуния, когда исчез отец.

Потерянная Любовь предсказывала, что влюбленных разлучит трагедия, какая угодно, от жаркого спора до мучительной смерти. Мама боялась смерти, поскольку ими не было сказано ни одного резкого слова в адрес друг друга.

А Дикая Вода означала бурное течение воды или ее окрестности, например бушующее море или бурную реку. Поскольку Лощина Гримм находилась на расстоянии месяца пути от моря, мама боялась, что Дикая Вода означала происшествие в одной из бурлящих рек в Лесу Гримм.

Утром пятого дня она отказалась больше ждать возвращения отца. Она пошла вслед за ним, направляясь к ручью, который отделяет нашу овцеводческую ферму от леса.

– Не уходи! – кричала я, хватая ее за рукав. Я не могла потерять обоих родителей. Возможно, отцу и не совсем повезло с картами, но судьба матери была более прямолинейной и безрадостной. Клыкастое Существо означало неминуемую смерть, а Полночный Лес – запретный выбор. В глубине души я знала, что она делает свой выбор. Выбор, который в конце концов убьет ее. – Ты нужна бабушке! Ты нужна мне!

Она отдернула руку, отчего я зарыдала еще сильнее, но потом мама наклонилась и взяла меня за подбородок.

– Никогда не сомневайся в своих силах, Клара. Ты была создана для того, чтобы выдерживать испытания и пострашнее этого.

– Но ты обещала, что будешь долго жить. – Я даю волю слезам. – Ты сказала, что похожа на дуб Гримм. Ты дала мне желудь, чтобы я никогда не забывала об этом.

– Ох, дорогая. – Она грустно улыбнулась. – Я ничего не обещала. Желудь символизируют твою жизнь, а не мою.

Прежде чем я успела возразить, она быстро поцеловала меня в лоб, ее глаза наполнились слезами, и она пересекла ручей. Я могла бы последовать за ней, тогда лес еще не изгонял людей, но ноги подкосились, как тростинки. Я упала, сердце застучало в горле, грудь переполнилась болью.

Бабушка нашла меня в таком состоянии. Она последовала за мной, когда я убежала за мамой, и опустилась на колени рядом со мной в траву. Она ничего не сказала. Лишь положила тяжелую руку мне на спину.

К тому времени я уже верила в судьбу. Я прожила четырнадцать лет, наблюдая за приходами и уходами жителей деревни, чьи предсказания сбывались. Но в ту минуту, когда ушла моя мать, я перестала верить в судьбу. То, что я чувствовала, было сильнее. Я была уверена в ней. И мама тоже все понимала, хотя всегда притворялась, что это не так. Если бы она не верила, то не боялась бы так сильно за отца. Она бы пообещала мне, что вернется. Она бы сказала, что желудь олицетворяет наши жизни.

– Мы никогда не переставали стремиться к миру, – говорит господин Освальд, и я отрываю взгляд от Дерева Потерянных и маминой розово-красной полоски шерсти, хотя не могу так легко избавиться от последнего воспоминания о ней. – И поэтому мы каждый месяц возвращаемся на это место и приносим свои подношения. Мы еще раз пытаемся выяснить, уступит ли нам лес. – Он еще сильнее повышает голос. – Кто же наконец станет победителем? Посмотрим, кому выпадет шанс.

Три года назад жители деревни взревели бы от восторга. Два года назад они, по крайней мере, издали бы несколько возгласов. В этом году их огонь почти не горит. Все, что они могут сделать, – это слегка кивнуть и слабо хлопнуть в ладоши. Я ненормальная. Внутри я превратила свою сердечную боль в надежду. Я пылаю так сильно, что готова взорваться.

Все мои желания зависят от того, чтобы меня выбрали в лотерее, только так я смогу попасть в лес. Пока я этого не добьюсь, я не смогу найти Книгу Судеб и сделать единственное, что может изменить ужасную судьбу матери, загадать свое единственное желание: спасти ее.

Господин Освальд тянется костлявой рукой к янтарному кубку. Мое сердце учащенно бьется. Аксель перехватывает мой взгляд и подмигивает.

Председатель трижды перемешивает листочки. Запускает пальцы в кубок. Достает сложенный листок.

«Изобрази искреннее удивление, – приказываю я себе. – Помни, что ты репетировала». Когда он прочтет «Клара Турн», я приложу руку к груди и ахну. Я сделаю глубокий вдох и расправлю плечи. Я покажу всем, что готова пересечь линию из ясеней.

Господин Освальд разворачивает листок. Уголок его рта приподнимается. Одобрение? Я выпрямляюсь. Мои нервы натянуты как струна.

Он поднимает листок, чтобы толпа могла его увидеть. Я не могу разобрать имя. Я подхожу на два шага ближе, вглядываюсь. Он объявляет:

– Аксель Фурст!
    </p>
    <a href="http://127.0.0.1:8000/LesGrimm/page=1/{{person.name}}">1</a>
    <a href="http://127.0.0.1:8000/LesGrimm/page=2/{{person.name}}">2</a>
    <a style="color:Orange" href="http://127.0.0.1:8000/LesGrimm/page=3/{{person.name}}">3</a>
    <a href="http://127.0.0.1:8000/LesGrimm/page=4/{{person.name}}">4</a>
</div>
</form>
</body>
</html>