<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Посёлок</title>
    <style>
        html{
            width: 100%;
        }

        body{
            background: AntiqueWhite;
        }

        .Button:hover{
            background: DodgerBlue;
            transition: 0.3s ease;
        }

        .Container{
            width: 1000px;
            height: 100%;
            margin: auto;
            background: WhiteSmoke;
            text-align: center;
            font-size: 24px;
            border: 2px solid Black;
        }

        .Button{
            position: absolute;
            width: 100px;
            height: 50px;
            background: LightSkyBlue;
            margin-top: -179px;
            margin-left: 400px;
            border: 0px solid;
            font-size: 16px;
        }

        a{
            padding: 10px;
            color: OrangeRed;
            text-decoration: none;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:8000/Hello/{{person.name}}">
<div class="Container">
    <h3>Кир Булычев</h3>
    <h1>Поселок</h1>
    <button class="Button">На главную</button>
    <p>Глава вторая</p>
    <p>
– Бумага, – повторил Старый. – Хоть десяток листов.

– Будет тебе бумага, – пообещал Томас.

Те, кому уходить, собрались у ворот в изгороди. Остальные пришли их проводить. Все делали вид, что поход самый обыкновенный, как за корнями к болоту, а прощались как будто навсегда.

Те, кто уходил, были тепло одеты – одежду собирали по всему поселку. Тетя Луиза сама отбирала, ушивала, подгоняла. Наверное, Олег никогда не был так тепло одет. Только Дик ничего лишнего не взял. Он сам себе все шьет.

Дождь почти перестал, в лужах вокруг столбов плескались, пищали плавунцы. К хорошей погоде.

Томас посмотрел на плавунцов.

– Дождь перестает. Надо бы столбы укрепить.

– Не думай об этом, – ответила тетя Луиза, – без тебя справимся,

– А ты мне что принесешь, пап? – спросила рыжая Рут, дочка Томаса.

– Не надо, – отозвалась его жена Линда. – Не надо даже думать об этом. Главное, чтобы папа вернулся. Закутай горло, ты опять кашляешь.

– С перевала держи правее, – сказал Вайткус Томасу. – Помнишь?

– Помню, – улыбнулся Томас. – Как сейчас помню. Ты бы лег…

Мать держала Олега за руку, и он не смел вырвать руку, хотя ему казалось, что Дик чуть усмехается, глядя на него. Она хотела пойти с ними до кладбища, но Сергеев ее не пустил. Он никого не пустил, кроме Луизы со Старым.

Олег несколько раз оборачивался. Мать стояла, приподняв руку, словно хотела помахать вслед и забыла. Она старалась не плакать.

Над изгородью были видны головы взрослых. Мать, Эгли, Линда, Сергеев, Вайткус, а сквозь колючки, пониже, темнели фигуры ребятишек. Маленькая шеренга людей, за ними – покатые, блестящие под дождем розовые крыши маленькой кучки домиков.

С холма Олег обернулся в последний раз. Все так и стояли у изгороди, только кто-то из малышей отбежал в сторону и возился у лужи. Отсюда, сверху, была видна улица – дорожка между хижинами. И дверь дома Кристины. Какая-то женщина стояла в дверях. Но с холма не разберешь, Кристина или Лиз. А потом вершина холма скрыла поселок из виду.

Кладбище тоже было окружено изгородью. Дик, прежде чем отодвинуть калитку, заглянул внутрь, не таится ли там какой-нибудь зверь. Олег подумал, что он сам, наверное, забыл бы это сделать.

Странно, отметил он, что могил, придавленных плитами мягкого сланца, отломанного от близких скал, куда больше, чем людей в поселке. Хотя поселку всего шестнадцать лет. Отца здесь нет, он остался за перевалом.

Дик остановился перед двумя одинаковыми плитами, обтесанными аккуратнее прочих. Это его отец и мать.

Поднялся ветер, холодный и занудный. Старый медленно шел от могилы к могиле. Он всех их знал. Сколько их было шестнадцать лет назад? Кажется, тридцать шесть человек взрослых и четверо детей. А осталось? Девять взрослых и трое из тех детей, что пришли. Трое. Дик, Лиз и Олег. Марьяна родилась уже здесь. И еще живы двенадцать детей из тех, кто родился в поселке. Значит, семнадцать лет назад здесь было сорок человек, сейчас двадцать с хвостиком. Простая арифметика. Нет, не простая. Могил куда больше, это все малыши, которые умерли или погибли. Здешние.

Над ухом, словно подслушав его мысли, тетя Луиза сказала:

– Большинство умерло в первые пять лет.

– Конечно, – согласился Старый, – мы платили за опыт.

– Чудо, что все в первый год не умерли, – добавил Томас.

Они остановились перед плитами в центре кладбища. Плиты были неотесанные, грубые, кривые, они почти ушли в землю, и цепкие лапки мха заплели их, превратив в округлые холмики.

Олегу захотелось вернуться, чтобы еще раз увидеть поселок, он знал: мать стоит у изгороди и надеется, что он это сделает. Олег даже пошел к калитке в изгороди, но тут Томас сказал:

– Пора идти. Скоро начнет темнеть, а надо дойти до скал.

– Ой! – воскликнула Марьяна. Она быстро перебирала пальцами по мешку, висевшему через плечо.

– Забыла чего? – спросил Дик.

– Нет. Хотя забыла… Я на отца погляжу…

– Пошли, пошли, Марьяшка, – покачал головой Томас. – Чем скорее мы пойдем, тем скорее вернемся.

Олег увидел, что глаза Марьяны полны слез. Еще чуть-чуть – и выльются на щеки.

Марьяна отстала от остальных. Олег подошел к ней и сказал:

– Я тоже хотел вернуться. Ну, хоть бы с холма поглядеть.

Они шли рядом и молчали.

Шагах в тридцати от изгороди, где начинался коварный липкий кустарник, остановились.

Луиза всех поцеловала, Старый попрощался за руку. Последним с Олегом.

– Я очень на тебя надеюсь, – произнес он. – Больше, чем на Томаса. Томас заботится о благе поселка, о сегодняшнем дне. Ты должен думать о будущем. Ты меня понимаешь?

– Хорошо, – кивнул Олег, – а вы за мамой посмотрите, чтобы не скучала. Я принесу микроскоп.

– Спасибо. Возвращайтесь скорей.

Дик первым вошел в кустарник, легко и быстро отбрасывая концом копья легкие щупальца.

– Держитесь ближе ко мне, – велел он. – Пока они не опомнились.

Олег не оборачивался. Некогда было оборачиваться. Обернешься – ветка прилипнет к чеботу, потом не оторвешь, а оторвешь – три недели вонять будет. Отвратительный кустарник.

* * *
К сумеркам добрались до скал. Как Томас и рассчитывал.

Лес не доходил до скал, их алые зубы торчали из голой, покрытой пятнами лишайника долины, клочья облаков пролетали так низко, что острия скал вспарывали им животы и исчезали в сером мареве. Томас сказал, что пещера, в которой он ночевал в прошлый раз, сухая и добраться до нее легко. Все, кроме Дика, устали. А Дик, если и устал, об этом никому не говорил. Только скалил зубы.

– Тогда было холодней, – произнес Томас. – Мы тогда решили, что в холод легче перейти болота. А перевал был закрыт. Я помню, мы шли тут, и под ногами звенело – заморозки.

Между путниками и скалами лежало белесое круглое пятно метров двадцать в диаметре.

– Тут и звенело? – спросил Дик, который шел первым. Он резко остановился на краю пятна. Оно чуть поблескивало, как кора сосны.

– Да. – Томас остановился рядом с Диком.

Олег отстал. Он час назад взял у Марьяны мешок, чтобы не надорвалась. Марьяна не хотела отдавать, а Томас одобрил: «Правильно. Завтра я тебе помогу. Потом Дик». «Зачем помогать? – отозвался Дик. – Вынем ночью лишнее, разберем по мешкам, и всем незаметно, и Марьяшке легче. Надо было раньше подумать. Два месяца собирались, а не подумали».

«Интересно, а кому надо было думать? Ты такой же мыслитель, как и все», – заметил про себя Олег.

А тащить пришлось немало, хоть Дик и говорит, что можно не беспокоиться о еде, он прокормит. Все-таки взяли и вяленого мяса, и корней, и сушеных грибов, а главная тяжесть – сухие дрова, без них ни воды вскипятить, ни зверей отогнать.

– Знаете, на что это похоже? – сказала Марьяна, догнав мужчин. – На верхушку гриба. Громаднейшего гриба.

– Может быть, – ответил Дик. – Лучше мы обойдем его.

– Зачем? – спросил Олег. – По осыпи придется карабкаться.

– Я попробую, ладно? – Марьяна опустилась на колени, вытащила ножик.

– Ты что хочешь делать? – спросил Томас.

– Кусочек отрежу. И понюхаю. Если это съедобный гриб, представляешь, как здорово? Весь поселок накормить можно.

– Не стоит резать, – сказал Дик. – Не нравится мне твой гриб. И не гриб это вовсе.

Но Марьяна уже вогнала нож в край пятна. Отрезать не успела – еле успела подхватить нож. Белое пятно вдруг вспучилось, задергалось, ринувшись валом в сторону Марьяны. Дик резко рванул девушку на себя, и они покатились по камням. Томас отпрыгнул следом и поднял арбалет.

Дик, сидя на камнях, расхохотался:

– Чтобы его убить, надо стрелу с дерево или больше!

– Я же говорила, что гриб, – произнесла Марьяна. – Ты зря испугался, Дик. Он пахнет, как гриб.

Судороги волнами прокатились по белому пятну, зарождаясь в центре и разбегаясь по краям, будто круги по воде от камня. А центр гриба все поднимался и поднимался, словно кто-то хотел вырваться наружу, тыкался головой. Потом от центра побежали в стороны темные трещинки, они расширялись, и получались огромные лепестки остриями к центру. Лепестки стали подниматься вверх и заворачиваться назад, пока не получился цветок.

– Это красиво, – сказала Марьяна, – это просто красиво, правда?

– А ты хотел по нему гулять, – напомнил Дик Олегу голосом старшего, хотя они ровесники.

Томас закинул арбалет на спину, подобрал Марьянин нож.

– Естествоиспытателям полезно сперва думать, а потом испытывать.

– Он ничего не может с нами сделать, – отозвалась Марьяна. – Он показывает, какой он красивый!

– Если только в нем никто не прячется, – добавил Дик. – Ну, пошли? А то стемнеет, пещеры не найдем. Все планы насмарку. Специально же вышли так, чтобы переночевать в знакомом месте.

Они обошли пятно по каменной осыпи. Сверху Олег попытался заглянуть в сердцевину цветка, но там было темно. И пусто. Лепестки постепенно сближались вновь, гриб-гигант успокаивался.

– Как мы его назовем? – спросила Марьяна.

– Мухомор, – предложил Томас.

– А мухомор – это гриб?

– Мухомор наверняка гриб, – кивнул Томас. – Ядовитый и большой. С красной шляпкой, а по красной шляпке белые пятна.

– Не очень похоже, – сказал Дик.

– Но красиво звучит, – произнесла Марьяна.

Давно уже так пошло, что названия неизвестным вещам давал Томас. Давал знакомые, не всегда совпадающие. Зачем придумывать новые? Был бы схожий признак. Грибы растут в земле, и их можно сушить. Значит, круглые оранжевые или синие шары, что закапываются в землю, но которые можно, если как следует вымочишь, сушить, варить, жарить и есть, назовем грибами. Шакалы ходят стаями, питаются падалью, трусливы и жадны. И не важно, что здесь шакалы – пресмыкающиеся. У медведя шерсть длинная, мохнатая, а сам большой… Хоть шерсть его – побеги перекатиполя, схожие с зеленоватыми волосками.

Олег запыхался, пока они пробирались по осыпи. Камни катились из-под ног, Марьянин мешок оттягивал руку, свой давил на плечи. Олег считал шаги. Где же эта чертова пещера? Воздух начал синеть, и без того день был пасмурным, а теперь уже в десятке шагов предметы расплывались, от земли поднимался серый туман, пора прятаться, ночью даже Дик не рискнет пойти в лес. В темноте появляются ночные твари. Если выйдешь ночью за изгородь, не вернешься. А здесь, вдали от поселка… Олег обернулся… Ему показалось, что за ним кто-то идет. Нет, только туман. Он не заметил, что прибавил шагу, – тут же обернулся Томас, негромко прикрикнул:

– На меня не налетай, сшибешь. Держи дистанцию.

И все-таки Олег никак не мог отделаться от ощущения, что кто-то идет сзади.

Спина Томаса исчезла – Томас обогнал Марьяну. Теперь впереди идет Марьяшка. У нее узкая спина, даже в теплой куртке узкая. Марьяна спотыкается, она в сумерках плохо видит. Эгли сказала – куриная слепота, но не стандартная, а эндемичная. «Эндемичная… то есть свойственная данной местности», – прозвучал в ушах голос Старого, как будто тот был рядом.

– Хочешь, тебя за руку возьму? – спросил Олег.

Они вдвоем шли по болоту в тумане, утопая в нем по колени.

– Нет, – ответила Марьяна, – спасибо.

– Стойте! – Голос Дика донесся глухо, издалека. – Скалы.

* * *
Хорошо, что пещеру никто не занял. В ней мог бы прятаться медведь или кто похуже из тех сумеречных и ночных тварей, которые призраками ходят вокруг изгороди и даже иногда шатают ее, тянутся к человеческому жилью и боятся его. Как-то Марьяна притащила из леса козленка, маленького еще, по пояс. У него был занудный голос, хуже, чем у близнецов, зеленая трава волосами свисала до земли, он топотал покрытыми роговыми пластинами ногами и вопил.

«Блеет, – сказал тогда с удовлетворением Вайткус. – Обожаю голоса домашних животных».

«Значит, будет козлом», – решил Томас.

Козел дожил в поселке до зимы, когда ночь тянется почти без перерыва. Он привык к людям, почти не кусался, торчал все время в мастерской Сергеева, там было тепло. В мастерской Сергеев делал мебель и вырезал посуду. Олег любил ему помогать, ему нравилось делать руками вещи. А потом пришли ночные твари. И увели козла с собой. Марьяна нашла несколько клочков зеленой шерсти за кладбищем, но это уже было весной. Она могла ошибиться.

Вайткус тогда произнес: «Развитие животноводства отложим на будущее».

«Тем более, – добавила Эгли, – что от него пользы – как от козла молока».

У пещеры был один недостаток – широкий вход. Поперек входа натянули палатку из рыбьих шкур, зажгли костер – ночные твари не любят огня. В пещере было почти тепло, и Олег с наслаждением растянулся на гладком каменном полу. Марьяна рядом.

– Как я устала, – вздохнула она. – И страшно было.

– Мне тоже, – добавил Олег тихо. – Мне казалось, что кто-то идет сзади.
    </p>
    <a href="http://127.0.0.1:8000/Poselok/page=1/{{person.name}}">1</a>
    <a href="http://127.0.0.1:8000/Poselok/page=2/{{person.name}}">2</a>
    <a href="http://127.0.0.1:8000/Poselok/page=3/{{person.name}}">3</a>
    <a style="color:Orange" href="http://127.0.0.1:8000/Poselok/page=4/{{person.name}}">4</a>
</div>
</form>
</body>
</html>