<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Посёлок</title>
    <style>
        html{
            width: 100%;
        }

        body{
            background: AntiqueWhite;
        }

        .Button:hover{
            background: DodgerBlue;
            transition: 0.3s ease;
        }

        .Container{
            width: 1000px;
            height: 100%;
            margin: auto;
            background: WhiteSmoke;
            text-align: center;
            font-size: 24px;
            border: 2px solid Black;
        }

        .Button{
            position: absolute;
            width: 100px;
            height: 50px;
            background: LightSkyBlue;
            margin-top: -179px;
            margin-left: 400px;
            border: 0px solid;
            font-size: 16px;
        }

        a{
            padding: 10px;
            color: OrangeRed;
            text-decoration: none;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:8000/Hello/{{person.name}}">
<div class="Container">
    <h3>Кир Булычев</h3>
    <h1>Поселок</h1>
    <button class="Button">На главную</button>
    <p>
– Одному человеку для деградации достаточно нескольких лет. При условии, что он белый лист бумаги. Известно, что дети, которые попадали в младенчестве к волкам или обезьянам, а такие случаи отмечены в Индии и Африке, через несколько лет безнадежно отставали от своих сверстников. Они становились дебилами. Дебил – это…

– Я помню.

– Прости. Их не удавалось вернуть человечеству. Они даже ходили только на четвереньках.

– А если взрослый?

– Взрослого волки не возьмут.

– А на необитаемый остров?

– Варианты различны, но человек неизбежно деградирует… степень деградации…

Старик взглянул на Олега, тот кивнул. Он знал это слово.

– Степень деградации зависит от уровня, которого человек достиг к моменту изоляции, и от его характера. Но мы не можем ставить исторический эксперимент на одной сложившейся особи. Мы говорим о социуме. Может ли группа людей в условиях изоляции удержаться на уровне культуры, в каковой находилась в момент отчуждения?

– Может, – ответил Олег. – Это мы.

– Не может, – возразил старик. – Но для младенца достаточно пяти лет, для группы, даже если она не вымрет, потребуется два-три поколения. Для племени – несколько поколений… Для народа, может быть, века. Но процесс необратим. Он проверен историей. Возьмем австралийских аборигенов…

Вошла мать Олега, она была причесана, надела выстиранную юбку.

– Я посижу с вами, – сказала она.

– Посиди, Ирочка, – кивнул старик. – Мы беседуем о социальном прогрессе. Вернее, регрессе.

– Я уже слыхала. Ты рассуждаешь, через сколько времени мы начнем ходить на четвереньках? Так я тебе отвечу – раньше мы все передохнем. И слава богу. Надоело.

– А ему не надоело, – не согласился старик. – И моим близнецам не надоело.

– Из-за него и живу, – напомнила мать, – а вы его посылаете на верную смерть.

– Если встать на твою точку зрения, Ира, – сказал Старый, – то здесь смертью грозит каждый день. Здесь лес – смерть, зима – смерть. Наводнение – смерть, ураган – смерть, укус шмеля – смерть. И откуда смерть выползет, какое она примет обличье, мы не знаем.

– Она выползает, когда захочет, и забирает, кого пожелает. Одного за другим.

– Нас больше, чем пять лет назад. Главная проблема – не физическое выживание, а моральное.

– Нас меньше! Нас с тобой меньше! Ты понимаешь, нас совсем не осталось! Что эти щенки могут без нас?

– Можем, – ответил Олег. – Ты в лес одна пошла бы?

– Лучше повеситься. Я порой на улицу боюсь выходить.

– А я хоть сейчас пойду. И вернусь. С добычей.

– То-то сегодня Дика с Марьяшкой еле спасли.

– Это случайность. Ты же знаешь, что шакалы стаями не ходят.

– Ничего не знаю! Пошли все-таки стаей или нет? Пошли?

– Пошли.

– Значит, ходят…

Олег не стал больше возражать. Мать тоже замолчала. Старый вздохнул, дождался паузы и продолжил свой монолог:

– Я почему-то сегодня вспомнил одну историю. Тысячу лет не вспоминал, а сегодня вспомнил. Может, просто к месту пришлось? Случилось это в 1530 году, вскоре после открытия Америки. Немецкое китобойное судно, которое промышляло к югу от Исландии, попало в шторм, и его отнесло на северо-запад, в неизвестные воды. Несколько дней корабль несло по волнам среди айсбергов. Айсберг – это…

– Это ледяная гора, я знаю.

– Правильно. Через несколько дней показались заснеженные гористые берега неизвестной земли. Теперь она называется Гренландией. Корабль бросил якорь, и моряки спустились на берег. И представляете их удивление, когда вскоре они увидели полуразрушенную церковь, потом остатки каменных хижин. В одной из хижин они нашли труп рыжеволосого мужчины в одежде, кое-как сшитой из тюленьих шкур, рядом сточенный, ржавый нож. А вокруг запустение, холод, снег…

– Не пугай, Боря, – прервала его мать. Пальцы ее нервно стучали по столу. – Псевдоисторические сказки…

– Погоди. Это не сказка. Это строго документировано. Тот человек был последним викингом. Ты помнишь, Олег, кто такие викинги?

– Вы рассказывали о викингах.

– Викинги бороздили моря, завоевывали целые страны, они заселили Исландию, высаживались в Америке, которую называли Винланд, даже основали свое царство на Сицилии. И у них была крупная колония в Гренландии. Там было несколько поселков, стояли каменные дома и церкви. Но вот корабли викингов перестали выходить в море. Колонии их перешли к другим народам или были заброшены. Прервалась связь с Гренландией. А тем временем климат там становился все более суровым, скот вымирал, и гренландские поселения приходили в упадок. В первую очередь потому, что потеряли связь с миром. Гренландцы, некогда смелые моряки, разучились строить морские корабли, их становилось все меньше. Известно, что в середине XV века в Гренландии была сыграна последняя свадьба. Потомки викингов дичали, их было слишком мало, чтобы противостоять стихии, добиться прогресса или хотя бы сохранить старое. Ты представляешь себе трагедию – последняя свадьба в целой стране? – Старый обращался к матери.

– Твои аналогии меня не убеждают. Много ли было викингов, мало ли – ничего бы их не спасло.

– А ведь альтернатива была. Приди тот немецкий корабль тридцатью годами раньше, и все сложилось бы иначе. Эти викинги могли бы уплыть на континент и вернуться в человеческую семью. Или иначе – наладилась бы связь с другими странами, появились бы торговцы, новые поселенцы, хотя бы новые орудия труда, знания… И все было бы иначе.

– К нам никто не приплывет.

– Наше спасение – не вживление в природу, – произнес старик уверенно. На этот раз он обернулся к Олегу. – Нам нужна помощь. Помощь остального человечества. И потому я настаиваю, чтобы твой сын шел за перевал. Мы еще помним. И наш долг – не обрывать нить.

– Пустой разговор, – устало сказала мать. – Водички согреть?

– Согрей, – ответил Старый. – Побалуемся кипятком. Нам грозит забывание. Уже сейчас носителей хотя бы крох человеческой мудрости, знаний становится все меньше. Одни гибнут, умирают, другие слишком поглощены борьбой за выживание… И вот появляется новое поколение, вы с Марьяной еще переходный этап. Вы как бы звено, соединяющее нас с нашим будущим. Каким оно будет, ты представляешь себе?

– Мы не боимся леса. Мы знаем грибы и деревья, мы можем охотиться в степи…

– Я боюсь будущего, в котором господствует новый тип человека – Дик-охотник. Он для меня символ отступления, символ поражения человека в борьбе с природой.

– Ричард – хороший мальчик, – отозвалась мать из кухни. – Ему нелегко приходилось одному.

– Я не о характере, – сказал Старый. – Я о социальном явлении. Когда ты, Ирина, научишься абстрагироваться от мелочей?

– Буду я абстрагироваться или нет, но если бы той зимой Дик не убил медведя, мы бы все перемерли с голоду, – сказала мать.

– Дик уже ощущает себя аборигеном этих мест. Он бросил ходить ко мне пять лет назад. Я не уверен, помнит ли он азбуку.

– Зачем? – спросила мать. – Книг все равно нету. И письма писать некуда. И некому.

– Дик много песен знает, – вступил Олег. – И сам сочиняет. – Олегу стало немного стыдно, что ему приятно ощущать недоброжелательство старика к Дику, и потому он решил Дика защитить.

– Не в песнях дело. Песня – заря цивилизации. А для малышей Дик – кумир. Дик – охотник! А для вас, бабы, он пример. «Посмотри на Дика. Вот хороший мальчик!» А для девочек он рыцарь. Ты не обращала внимания, какими глазами на него глядит Марьяшка?

– Пускай глядит. Замуж выйдет. Для поселка хорошо.

– Мама! – не выдержал Олег.

– А что?

Мать, как всегда, ничего не замечала вокруг, жила в каком-то своем мире, пережевывала древности.

– И тебя радует мир диков? – Старик был зол. Он даже грохнул кулаком по столу. – Мир благополучных быстроногих дикарей?

– А что ты предлагаешь взамен?

– Вот его. – Старик положил тяжелую ладонь на затылок Олегу. – Мир Олега – это мой мир, это твой мир, от которого ты пытаешься отмахнуться. Хотя тебе-то никакого другого не дано.

– Ты не прав, Боря. – Мать пошла на кухню, сняла с огня миску с кипятком и принесла в комнату. – Сахар кончился.

– У меня тоже, – ответил старик. – Сейчас корни худые, несладкие. Эгли говорит, что придется месяц потерпеть. Поедим с хлебом. Ты же интеллигентная женщина и должна понимать, что мы обречены на вырождение, если на смену нам придут дики-охотники.

– Не согласна я с тобой, Боря, – сказала мать. – Нам бы выжить. Я сейчас не о себе конкретно говорю, а о поселке. О детишках. Когда я гляжу на Дика или на Марьянку, у меня появляется надежда. Ты их называешь дикими, а я думаю, что они смогли приспособиться. И если они сейчас погибнут, мы все погибнем. Слишком велик риск.

– А я, значит, не приспособился? – спросил Олег.

– Ты меньше других приспособился.

– Ты просто боишься за меня, – ответил Олег. – И не хочешь, чтобы я шел в горы. А я из арбалета стреляю лучше Дика.

– Я боюсь за тебя, конечно, боюсь. Ты у меня один. Ты все, что у меня осталось. А ты с каждым днем все больше от меня отрываешься, уходишь куда-то, чужим становишься.

Старик мерно шагал по комнате, так бывало, когда он недоволен учениками, если они ленятся. Нагнулся, поднял с табуретки глобус. Он его сделал из гриба-гиганта, который вырос той зимой у сарая. Они тогда с Олегом вместе терли краски, цветную глину, которую Марьяна и Лиз отыскивали у ручья, ту самую, из которой теперь делают мыло. Ее высушили, получилось два цвета – белый и серый. А сам гриб был сиреневым. И Старый по памяти нарисовал все материки и океаны Земли. Глобус получился бледным, а за два года еще больше побледнел и стерся, стал как круглое яблоко.

Олег увидел на столе маленькое пятнышко розовой плесени. Это не желтая, это ядовитая плесень. Он осторожно стер пятнышко рукавом. Глупо, когда родная мать предпочитает тебе другого. В общем, это предательство. Самое настоящее предательство.

– Мы с тобой умрем, – напомнил старик.

– И отлично. Пожили достаточно, – отрезала мать.

– Тем не менее не спешим умирать, цепляемся за эту жизнь.

– Мы трусливы.

– У тебя всегда есть Олег.

– Я жила ради него.

– Мы с тобой умрем, – продолжал старик, – но поселок должен жить. Иначе пропадет смысл нашего с тобой существования.

– Больше шансов выжить у поселка охотников, – настаивала мать.

– Больше шансов выжить у поселка таких, как Олег, – сказал старик. – Если править нашим племенем будут Дик и ему подобные, то через сто лет никто не вспомнит, кто мы такие, откуда пришли. Восторжествует право сильного, законы первобытного племени.

– И будут они плодиться и размножаться. И станет их много. И изобретут они колесо, а еще через тысячу лет – паровую машину. – Мать засмеялась, как будто заплакала.

– Ты шутишь? – спросил Олег.

– Ирина права, – ответил старик. – Борьба за существование в элементарной форме приведет к безнадежному регрессу. Выжить ценой вживания в природу, принятия ее законов – значит сдаться.

– Но все-таки выжить, – стояла на своем мать.

– Она так не думает, – сказал Олег.

– Конечно, она так не думает, – согласился Старик. – Я знаком с Ириной уже двадцать лет. И знаю, что она так не думает.

– Я вообще предпочитаю не думать.

– Врешь, – сказал Старый. – Мы все думаем о будущем, боимся и надеемся. Иначе перестанем быть людьми. Именно груз знаний, которыми не отягощает себя Дик, заменяя их простыми законами леса, может нас спасти. И пока есть альтернатива, мы можем надеяться.

– Ради этой альтернативы ты гонишь Олежку в горы?

– Ради сохранения знаний, ради нас с тобой. Ради борьбы с бессмыслицей, неужели не ясно?

– Ты всегда был эгоистом.

– Твой материнский слепой эгоизм не в счет?

– Зачем тебе Олег? Он не перенесет путешествия. Он же слабый.

Этого говорить не следовало. Мать поняла сама и взглянула на Олега, глазами умоляя его не обижаться.

– Я не обижаюсь, мам. Но я хочу идти. Может, хочу больше, чем все остальные. Дик бы даже с удовольствием остался. Сейчас олени кочевать начнут. Самая охота в степи.

– Он нужен в походе, – сказал старик. – Как бы я ни возмущался перспективами его власти, сегодня его умение, его сила могут нас спасти.

– Спасти! – Мать оторвала взгляд от Олега. – Ты талдычишь о спасении. А сам в него веришь? Три раза люди ходили в горы, сколько вернулось? С чем?

– Тогда мы были еще неопытны. Мы не знали здешних законов. Мы шли, когда на перевале был снег. Теперь мы знаем, что он тает только в конце лета. За любое знание приходится платить.

– Если бы те не погибли, мы бы жили лучше. Было бы больше кормильцев.

– Но все равно мы оказались бы во власти закона деградации. Или мы часть человечества и бережем его знания, или мы дикари.

– Ты идеалист, Боря, кусок хлеба сегодня нужнее абстрактных ананасов.

– Но ведь ты помнишь вкус ананаса? – Старый повернулся к Олегу и добавил: – Ананас – это тропический плод со специфическим вкусом.

– Я понял, – ответил Олег. – Смешное слово.
    </p>
    <a href="http://127.0.0.1:8000/Poselok/page=1/{{person.name}}">1</a>
    <a href="http://127.0.0.1:8000/Poselok/page=2/{{person.name}}">2</a>
    <a style="color:Orange" href="http://127.0.0.1:8000/Poselok/page=3/{{person.name}}">3</a>
    <a href="http://127.0.0.1:8000/Poselok/page=4/{{person.name}}">4</a>
</div>
</form>
</body>
</html>